##### List of dictionary sort by price.

In [1]:
di = [{'Prd1':'Clock','PrdPP':6440},{'Prd2':'Chair','PrdPP':16160},{'Prd3':'Jewellery','PrdPP':8460}]
print(sorted(di,key=lambda di:di['PrdPP']))

[{'Prd1': 'Clock', 'PrdPP': 6440}, {'Prd3': 'Jewellery', 'PrdPP': 8460}, {'Prd2': 'Chair', 'PrdPP': 16160}]

#### Convert multiple lists into single

In [2]:
li1 = ['Hello']
li2 = ["Good"]
li3 = ["Morning"]
Total_Li = li1+li2+li3
print(Total_Li)

['Hello', 'Good', 'Morning']

#### Find even and odd number and sum of element in the list

In [3]:
Nums = []
Count_Odd = 0
Count_Even = 0
Sum_Odd = 0
Sum_Even = 0


print("Enter size of length::",end='')
vo = int(input())
print("Enter Elements::")

for i in range(vo):
    Nums.append(int(input()))
    if Nums[i]%2==0:
        Count_Even = Count_Even + 1
        Sum_Even = Sum_Even + Nums[i]
    else:
        Count_Odd = Count_Odd + 1
        Sum_Odd = Sum_Odd+Nums[i]
        
if Count_Even==0:
    print("No Even Numbers")
else:
    print("Sum of even numbers",Sum_Even)
    
if Count_Odd==0:
    print("No Odd Numbers")
else:
    print("Sum of Odd numbers",Sum_Odd)

Enter size of length::5
Enter Elements::
45
59
3
64
78
Sum of even numbers 142
Sum of Odd numbers 107

##### create class and take two variable and convert into dictionary

In [4]:
class Info:
    def __init__(self,Name,Sal):
        self.Name = Name
        self.Sal = Sal
    def display(self):
        print("Employee Name::",self.Name)
        print("Employee Salary::",self.Sal)
ob = Info('Nayan',98820)
ob.display()
print(ob.__dict__)

Employee Name:: Nayan
Employee Salary:: 98820
{'Name': 'Nayan', 'Sal': 98820}

#### Remove duplicate element in list/array

In [5]:
a = [99,61,58,44,44,48,64,'fi',84,68,'fi']
NewLi = []

for i in a:
    if a.count(i)==1:
        NewLi.append(i)
print(NewLi)

[99, 61, 58, 48, 64, 84, 68]

#### Print duplicate numbers in a given list.

In [6]:
a = [99,61,58,44,44,48,64,'fi',84,68,'fi']
Dup_Li = []

for i in a:
    if a.count(i)>1 and i not in Dup_Li:
        Dup_Li.append(i)
print(Dup_Li)

[44, 'fi']

#### Find Smallest No. and Largest No

In [7]:
a = [99,61,58,44,74,908,64,85,84,68,894]
a.sort()
print("Smallest No.",a[0])
print("Largest No.",a[-1])

Smallest No. 44
Largest No. 908

#### Addition of two number using lambda.

In [8]:
a = int(input("Enter No. for a::"))
b = int(input("Enter No. for b::"))

print((lambda a,b:a+b)(a,b))

Enter No. for a::45
Enter No. for b::99
144

#### Reverse the string “hello world”.

In [13]:
st = "Hello World"
print("Reverse String::"," ".join(st.split(" ")[::-1]))

Reverse String:: World Hello

#### String to lowercase and uppercase using decorator.

In [14]:
def deco(func):
    def inner():
        res = func()
        r1 = res.upper()
        r2 = res.lower()
        return r1,r2
    return inner


@deco
def convert():
    return "Hello World"

convert()

('HELLO WORLD', 'hello world')