In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Prac').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.option('header','true').csv(r"C:\Users\tsd95\CSV Files\exams.csv",inferSchema=True)

In [5]:
df.show()

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group D|               some college|    standard|              completed|        59|           70|           78|
|  male|       group D|         associate's degree|    standard|                   none|        96|           93|           87|
|female|       group D|               some college|free/reduced|                   none|        57|           76|           77|
|  male|       group B|               some college|free/reduced|                   none|        70|           70|           63|
|female|       group D|         associate's degree|    standard|                   none|        83|           85|           86|
|  male|       group C|           some high school|    standard|                   none|        68|           57|           54|
|female|       group E|         associate's degree|    standard|                   none|        82|           83|           80|
|female|       group B|           some high school|    standard|                   none|        46|           61|           58|
|  male|       group C|           some high school|    standard|                   none|        80|           75|           73|
|female|       group C|          bachelor's degree|    standard|              completed|        57|           69|           77|
|  male|       group B|           some high school|    standard|                   none|        74|           69|           69|
|  male|       group B|            master's degree|    standard|                   none|        53|           50|           49|
|  male|       group B|          bachelor's degree|free/reduced|                   none|        76|           74|           76|
|  male|       group A|               some college|    standard|                   none|        70|           73|           70|
|  male|       group C|            master's degree|free/reduced|                   none|        55|           54|           52|
|  male|       group E|            master's degree|free/reduced|                   none|        56|           46|           43|
|female|       group C|               some college|free/reduced|                   none|        35|           47|           41|
|female|       group C|                high school|    standard|                   none|        87|           92|           81|
|female|       group E|         associate's degree|free/reduced|                   none|        80|           82|           85|
|female|       group D|         associate's degree|    standard|              completed|        65|           71|           74|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [6]:
df.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [7]:
df.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+-----------------+------------------+
|summary|gender|race/ethnicity|parental level of education|       lunch|test preparation course|        math score|    reading score|     writing score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+-----------------+------------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|             1000|              1000|
|   mean|  null|          null|                       null|        null|                   null|             67.81|           70.382|             69.14|
| stddev|  null|          null|                       null|        null|                   null|15.250195686235266|14.10741277113189|15.025916883111595|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                15|               25|                15|
|    max|  male|       group E|           some high school|    standard|                   none|               100|              100|               100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+-----------------+------------------+

In [8]:
df.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

In [9]:
df.select(['gender','reading score','writing score']).show()

+------+-------------+-------------+
|gender|reading score|writing score|
+------+-------------+-------------+
|female|           70|           78|
|  male|           93|           87|
|female|           76|           77|
|  male|           70|           63|
|female|           85|           86|
|  male|           57|           54|
|female|           83|           80|
|female|           61|           58|
|  male|           75|           73|
|female|           69|           77|
|  male|           69|           69|
|  male|           50|           49|
|  male|           74|           76|
|  male|           73|           70|
|  male|           54|           52|
|  male|           46|           43|
|female|           47|           41|
|female|           92|           81|
|female|           82|           85|
|female|           71|           74|
+------+-------------+-------------+
only showing top 20 rows

In [10]:
df = df.withColumnRenamed('parental level of education','Education Level')

In [11]:
df.show()

+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|   Education Level|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group D|      some college|    standard|              completed|        59|           70|           78|
|  male|       group D|associate's degree|    standard|                   none|        96|           93|           87|
|female|       group D|      some college|free/reduced|                   none|        57|           76|           77|
|  male|       group B|      some college|free/reduced|                   none|        70|           70|           63|
|female|       group D|associate's degree|    standard|                   none|        83|           85|           86|
|  male|       group C|  some high school|    standard|                   none|        68|           57|           54|
|female|       group E|associate's degree|    standard|                   none|        82|           83|           80|
|female|       group B|  some high school|    standard|                   none|        46|           61|           58|
|  male|       group C|  some high school|    standard|                   none|        80|           75|           73|
|female|       group C| bachelor's degree|    standard|              completed|        57|           69|           77|
|  male|       group B|  some high school|    standard|                   none|        74|           69|           69|
|  male|       group B|   master's degree|    standard|                   none|        53|           50|           49|
|  male|       group B| bachelor's degree|free/reduced|                   none|        76|           74|           76|
|  male|       group A|      some college|    standard|                   none|        70|           73|           70|
|  male|       group C|   master's degree|free/reduced|                   none|        55|           54|           52|
|  male|       group E|   master's degree|free/reduced|                   none|        56|           46|           43|
|female|       group C|      some college|free/reduced|                   none|        35|           47|           41|
|female|       group C|       high school|    standard|                   none|        87|           92|           81|
|female|       group E|associate's degree|free/reduced|                   none|        80|           82|           85|
|female|       group D|associate's degree|    standard|              completed|        65|           71|           74|
+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [12]:
df = df.withColumn('Double Math Score',df['math score']*2)

In [13]:
df.show()

+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+-----------------+
|gender|race/ethnicity|   Education Level|       lunch|test preparation course|math score|reading score|writing score|Double Math Score|
+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+-----------------+
|female|       group D|      some college|    standard|              completed|        59|           70|           78|              118|
|  male|       group D|associate's degree|    standard|                   none|        96|           93|           87|              192|
|female|       group D|      some college|free/reduced|                   none|        57|           76|           77|              114|
|  male|       group B|      some college|free/reduced|                   none|        70|           70|           63|              140|
|female|       group D|associate's degree|    standard|                   none|        83|           85|           86|              166|
|  male|       group C|  some high school|    standard|                   none|        68|           57|           54|              136|
|female|       group E|associate's degree|    standard|                   none|        82|           83|           80|              164|
|female|       group B|  some high school|    standard|                   none|        46|           61|           58|               92|
|  male|       group C|  some high school|    standard|                   none|        80|           75|           73|              160|
|female|       group C| bachelor's degree|    standard|              completed|        57|           69|           77|              114|
|  male|       group B|  some high school|    standard|                   none|        74|           69|           69|              148|
|  male|       group B|   master's degree|    standard|                   none|        53|           50|           49|              106|
|  male|       group B| bachelor's degree|free/reduced|                   none|        76|           74|           76|              152|
|  male|       group A|      some college|    standard|                   none|        70|           73|           70|              140|
|  male|       group C|   master's degree|free/reduced|                   none|        55|           54|           52|              110|
|  male|       group E|   master's degree|free/reduced|                   none|        56|           46|           43|              112|
|female|       group C|      some college|free/reduced|                   none|        35|           47|           41|               70|
|female|       group C|       high school|    standard|                   none|        87|           92|           81|              174|
|female|       group E|associate's degree|free/reduced|                   none|        80|           82|           85|              160|
|female|       group D|associate's degree|    standard|              completed|        65|           71|           74|              130|
+------+--------------+------------------+------------+-----------------------+----------+-------------+-------------+-----------------+
only showing top 20 rows

In [14]:
df = df.drop('lunch')

In [15]:
df.show(10)

+------+--------------+------------------+-----------------------+----------+-------------+-------------+-----------------+
|gender|race/ethnicity|   Education Level|test preparation course|math score|reading score|writing score|Double Math Score|
+------+--------------+------------------+-----------------------+----------+-------------+-------------+-----------------+
|female|       group D|      some college|              completed|        59|           70|           78|              118|
|  male|       group D|associate's degree|                   none|        96|           93|           87|              192|
|female|       group D|      some college|                   none|        57|           76|           77|              114|
|  male|       group B|      some college|                   none|        70|           70|           63|              140|
|female|       group D|associate's degree|                   none|        83|           85|           86|              166|
|  male|       group C|  some high school|                   none|        68|           57|           54|              136|
|female|       group E|associate's degree|                   none|        82|           83|           80|              164|
|female|       group B|  some high school|                   none|        46|           61|           58|               92|
|  male|       group C|  some high school|                   none|        80|           75|           73|              160|
|female|       group C| bachelor's degree|              completed|        57|           69|           77|              114|
+------+--------------+------------------+-----------------------+----------+-------------+-------------+-----------------+
only showing top 10 rows

In [16]:
import time
for i in df.head(5):
    time.sleep(1)
    print(i)

Row(gender='female', race/ethnicity='group D', Education Level='some college', test preparation course='completed', math score=59, reading score=70, writing score=78, Double Math Score=118)
Row(gender='male', race/ethnicity='group D', Education Level="associate's degree", test preparation course='none', math score=96, reading score=93, writing score=87, Double Math Score=192)
Row(gender='female', race/ethnicity='group D', Education Level='some college', test preparation course='none', math score=57, reading score=76, writing score=77, Double Math Score=114)
Row(gender='male', race/ethnicity='group B', Education Level='some college', test preparation course='none', math score=70, reading score=70, writing score=63, Double Math Score=140)
Row(gender='female', race/ethnicity='group D', Education Level="associate's degree", test preparation course='none', math score=83, reading score=85, writing score=86, Double Math Score=166)

In [18]:
dfn = spark.read.csv(r"C:\Users\tsd95\CSV Files\Model\NullValues.csv",header=True,inferSchema=True)

In [19]:
dfn.show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| null|  harish@gmail.com|    null|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    null|
| 162|     Shlok|  27|46497|              null|    null|
| 648|      null|  24|45404|  kanika@gmail.com|    null|
+----+----------+----+-----+------------------+--------+

In [20]:
dfn.summary().show()

+-------+------------------+----------+------------------+------------------+---------------+------+
|summary|                ID|      NAME|               AGE|               SAL|          EMAIL|   LOC|
+-------+------------------+----------+------------------+------------------+---------------+------+
|  count|                12|        11|                11|                13|             12|    11|
|   mean|255.66666666666666|      null|28.545454545454547|64106.583333333336|           null|  null|
| stddev|197.17335857902643|      null|  4.67682876239095| 19873.90239145678|           null|  null|
|    min|               105|      Anil|                24|             45404| anil@gmail.com|Barshi|
|    25%|               114|      null|                25|           46479.0|           null|  null|
|    50%|               135|      null|                27|           59700.0|           null|  null|
|    75%|               416|      null|                32|           76464.0|           null|  null|
|    max|               648|Vijaykumar|                40|              null|vijay@yahoo.com| Thane|
+-------+------------------+----------+------------------+------------------+---------------+------+

In [21]:
dfn.na.drop().show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+----------+---+-----+------------------+--------+

In [22]:
dfn.show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| null|  harish@gmail.com|    null|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    null|
| 162|     Shlok|  27|46497|              null|    null|
| 648|      null|  24|45404|  kanika@gmail.com|    null|
+----+----------+----+-----+------------------+--------+

In [23]:
dfn.na.drop(how='any').show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+----------+---+-----+------------------+--------+

In [24]:
dfn.na.drop(how='all').show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| null|  harish@gmail.com|    null|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    null|
| 162|     Shlok|  27|46497|              null|    null|
| 648|      null|  24|45404|  kanika@gmail.com|    null|
+----+----------+----+-----+------------------+--------+

In [25]:
#atleast 5 values should be present.
dfn.na.drop(how='any',thresh=5).show()

+---+----------+----+-----+------------------+--------+
| ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+---+----------+----+-----+------------------+--------+
|105|      Anil|  32| null|    anil@gmail.com|    Pune|
|106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
|114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
|498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|489|   Pratham|  25|46479| pratham@gmail.com|    null|
+---+----------+----+-----+------------------+--------+

In [26]:
#pass null values
dfn.na.drop(how='any',subset=['LOC']).show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
+----+----------+----+-----+------------------+--------+

In [27]:
dfn.fillna('0').show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32|    0|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25|    0|  harish@gmail.com|       0|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|         0|null|78700|                 0|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|         0|  25|76464|                 0|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|         0|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|       0|
| 162|     Shlok|  27|46497|                 0|       0|
| 648|         0|  24|45404|  kanika@gmail.com|       0|
+----+----------+----+-----+------------------+--------+

In [28]:
dfn.fillna('Null Values Present',['EMAIL','LOC']).show()

+----+----------+----+-----+-------------------+-------------------+
|  ID|      NAME| AGE|  SAL|              EMAIL|                LOC|
+----+----------+----+-----+-------------------+-------------------+
| 105|      Anil|  32| null|     anil@gmail.com|               Pune|
| 106|    Chetan|null|98000|     chet@yahoo.com|              Pawai|
| 114|    Jayesh|  27|65000| jayesh@outlook.com|              Thane|
|null|    Harish|  25| null|   harish@gmail.com|Null Values Present|
| 120|     Komal|  28|59700|    komal@yahoo.com|            Sangali|
| 135|      null|null|78700|Null Values Present|           Hydrabad|
| 140|    Sachin|  29|45700|   sachin@gmail.com|           Kolhapur|
| 135|Vijaykumar|  32|46940|    vijay@yahoo.com|           Kolhapur|
| 498|     Kiran|null|61649|    kamal@gmail.com|              Panji|
|null|      null|  25|76464|Null Values Present|             Barshi|
| 416|    Bharat|null|98746|   bharat@gmail.com|              Latur|
|null|      null|  40| null|   sachin@gmail.com|               Pune|
| 489|   Pratham|  25|46479|  pratham@gmail.com|Null Values Present|
| 162|     Shlok|  27|46497|Null Values Present|Null Values Present|
| 648|      null|  24|45404|   kanika@gmail.com|Null Values Present|
+----+----------+----+-----+-------------------+-------------------+

In [42]:
dfx = dfn.dropna()

In [43]:
dfx.show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+----------+---+-----+------------------+--------+

In [47]:
dfx.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- SAL: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- LOC: string (nullable = true)

In [51]:
dfy = dfx.toPandas()

In [52]:
dfy

    ID        NAME  AGE    SAL               EMAIL       LOC
0  114      Jayesh   27  65000  jayesh@outlook.com     Thane
1  120       Komal   28  59700     komal@yahoo.com   Sangali
2  140      Sachin   29  45700    sachin@gmail.com  Kolhapur
3  135  Vijaykumar   32  46940     vijay@yahoo.com  Kolhapur

In [53]:
dfy['SAL'] = dfy['SAL'].astype('int64')

In [55]:
dfy.dtypes

ID        int32
NAME     object
AGE       int32
SAL       int64
EMAIL    object
LOC      object
dtype: object

In [59]:
dfy.to_csv('SpaTest.csv')

In [62]:
dfz = spark.read.csv(r'C:\Users\tsd95\SpaTest.csv',inferSchema=True,header=True)

In [63]:
dfz.show()

+---+---+----------+---+-----+------------------+--------+
|_c0| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+---+----------+---+-----+------------------+--------+
|  0|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|  1|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|  2|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|  3|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+---+----------+---+-----+------------------+--------+

In [64]:
from pyspark.ml.feature import Imputer

In [65]:
ob = Imputer(inputCols=['ID','SAL'],outputCols=['ID','SAL']).setStrategy('mean')

In [66]:
ob.fit(dfz).transform(dfz).show()

+---+---+----------+---+-----+------------------+--------+
|_c0| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+---+----------+---+-----+------------------+--------+
|  0|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|  1|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|  2|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|  3|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+---+----------+---+-----+------------------+--------+

In [67]:
df1 = spark.read.csv(r"C:\Users\tsd95\CSV Files\08 wind-generation.csv",header=True,inferSchema=True)

In [68]:
df1.show()

+-----------+----+----+----------------+
|     Entity|Code|Year|Electricity_wind|
+-----------+----+----+----------------+
|Afghanistan| AFG|2000|             0.0|
|Afghanistan| AFG|2001|             0.0|
|Afghanistan| AFG|2002|             0.0|
|Afghanistan| AFG|2003|             0.0|
|Afghanistan| AFG|2004|             0.0|
|Afghanistan| AFG|2005|             0.0|
|Afghanistan| AFG|2006|             0.0|
|Afghanistan| AFG|2007|             0.0|
|Afghanistan| AFG|2008|             0.0|
|Afghanistan| AFG|2009|             0.0|
|Afghanistan| AFG|2010|             0.0|
|Afghanistan| AFG|2011|             0.0|
|Afghanistan| AFG|2012|             0.0|
|Afghanistan| AFG|2013|             0.0|
|Afghanistan| AFG|2014|             0.0|
|Afghanistan| AFG|2015|             0.0|
|Afghanistan| AFG|2016|             0.0|
|Afghanistan| AFG|2017|             0.0|
|Afghanistan| AFG|2018|             0.0|
|Afghanistan| AFG|2019|             0.0|
+-----------+----+----+----------------+
only showing top 20 rows

In [69]:
df1.filter('Year=2000').show()

+-------------------+----+----+----------------+
|             Entity|Code|Year|Electricity_wind|
+-------------------+----+----+----------------+
|        Afghanistan| AFG|2000|             0.0|
|             Africa|null|2000|            0.23|
|        Africa (BP)|null|2000|          0.1755|
|     Africa (Ember)|null|2000|            0.23|
|            Albania| ALB|2000|             0.0|
|            Algeria| DZA|2000|             0.0|
|     American Samoa| ASM|2000|             0.0|
|             Angola| AGO|2000|             0.0|
|Antigua and Barbuda| ATG|2000|             0.0|
|          Argentina| ARG|2000|            0.04|
|            Armenia| ARM|2000|             0.0|
|              Aruba| ABW|2000|             0.0|
|               Asia|null|2000|            2.37|
|       Asia (Ember)|null|2000|             2.3|
|  Asia Pacific (BP)|null|2000|        2.563947|
|          Australia| AUS|2000|            0.06|
|            Austria| AUT|2000|            0.07|
|         Azerbaijan| AZE|2000|             0.0|
|            Bahamas| BHS|2000|             0.0|
|            Bahrain| BHR|2000|             0.0|
+-------------------+----+----+----------------+
only showing top 20 rows

In [70]:
df1.filter(('Code==AFG') and ('Year=2000')).show()

+-------------------+----+----+----------------+
|             Entity|Code|Year|Electricity_wind|
+-------------------+----+----+----------------+
|        Afghanistan| AFG|2000|             0.0|
|             Africa|null|2000|            0.23|
|        Africa (BP)|null|2000|          0.1755|
|     Africa (Ember)|null|2000|            0.23|
|            Albania| ALB|2000|             0.0|
|            Algeria| DZA|2000|             0.0|
|     American Samoa| ASM|2000|             0.0|
|             Angola| AGO|2000|             0.0|
|Antigua and Barbuda| ATG|2000|             0.0|
|          Argentina| ARG|2000|            0.04|
|            Armenia| ARM|2000|             0.0|
|              Aruba| ABW|2000|             0.0|
|               Asia|null|2000|            2.37|
|       Asia (Ember)|null|2000|             2.3|
|  Asia Pacific (BP)|null|2000|        2.563947|
|          Australia| AUS|2000|            0.06|
|            Austria| AUT|2000|            0.07|
|         Azerbaijan| AZE|2000|             0.0|
|            Bahamas| BHS|2000|             0.0|
|            Bahrain| BHR|2000|             0.0|
+-------------------+----+----+----------------+
only showing top 20 rows

In [71]:
df1.filter(('Code==null')and('Year=2006')).show()

+-------------------+----+----+----------------+
|             Entity|Code|Year|Electricity_wind|
+-------------------+----+----+----------------+
|        Afghanistan| AFG|2006|             0.0|
|             Africa|null|2006|            0.87|
|        Africa (BP)|null|2006|       0.8525656|
|     Africa (Ember)|null|2006|            0.87|
|            Albania| ALB|2006|             0.0|
|            Algeria| DZA|2006|             0.0|
|     American Samoa| ASM|2006|             0.0|
|             Angola| AGO|2006|             0.0|
|Antigua and Barbuda| ATG|2006|             0.0|
|          Argentina| ARG|2006|            0.07|
|            Armenia| ARM|2006|             0.0|
|              Aruba| ABW|2006|             0.0|
|               Asia|null|2006|           16.06|
|       Asia (Ember)|null|2006|           15.79|
|  Asia Pacific (BP)|null|2006|       18.569807|
|          Australia| AUS|2006|            1.71|
|            Austria| AUT|2006|            1.75|
|         Azerbaijan| AZE|2006|             0.0|
|            Bahamas| BHS|2006|             0.0|
|            Bahrain| BHR|2006|             0.0|
+-------------------+----+----+----------------+
only showing top 20 rows

In [72]:
df1.dtypes

[('Entity', 'string'),
 ('Code', 'string'),
 ('Year', 'int'),
 ('Electricity_wind', 'double')]

In [73]:
df1.filter(('Code==null') and ('Electricity_wind<1.0')).show()

+-----------+----+----+----------------+
|     Entity|Code|Year|Electricity_wind|
+-----------+----+----+----------------+
|Afghanistan| AFG|2000|             0.0|
|Afghanistan| AFG|2001|             0.0|
|Afghanistan| AFG|2002|             0.0|
|Afghanistan| AFG|2003|             0.0|
|Afghanistan| AFG|2004|             0.0|
|Afghanistan| AFG|2005|             0.0|
|Afghanistan| AFG|2006|             0.0|
|Afghanistan| AFG|2007|             0.0|
|Afghanistan| AFG|2008|             0.0|
|Afghanistan| AFG|2009|             0.0|
|Afghanistan| AFG|2010|             0.0|
|Afghanistan| AFG|2011|             0.0|
|Afghanistan| AFG|2012|             0.0|
|Afghanistan| AFG|2013|             0.0|
|Afghanistan| AFG|2014|             0.0|
|Afghanistan| AFG|2015|             0.0|
|Afghanistan| AFG|2016|             0.0|
|Afghanistan| AFG|2017|             0.0|
|Afghanistan| AFG|2018|             0.0|
|Afghanistan| AFG|2019|             0.0|
+-----------+----+----+----------------+
only showing top 20 rows

In [74]:
df1.select('Code').distinct().count()

218

In [75]:
df1.select('Entity').distinct().show()

+--------------------+
|              Entity|
+--------------------+
|European Union (2...|
|                Chad|
|            Paraguay|
|              Russia|
|               Macao|
|               World|
|               Yemen|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|             Eritrea|
|     Oceania (Ember)|
|         Philippines|
|            Djibouti|
|               Tonga|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
+--------------------+
only showing top 20 rows

In [76]:
df1.groupBy('Code').count().show()

+--------+-----+
|    Code|count|
+--------+-----+
|     NIU|   22|
|     HTI|   22|
|     PSE|   22|
|     BRB|   22|
|     LVA|   33|
|     POL|   58|
|OWID_WRL|   57|
|     JAM|   22|
|     ZMB|   22|
|     BRA|   57|
|     SPM|   22|
|     ARM|   22|
|     MOZ|   22|
|     CUB|   22|
|     JOR|   22|
|     ABW|   22|
|     FRA|   58|
|     SOM|   22|
|     TCA|   22|
|     BRN|   22|
+--------+-----+
only showing top 20 rows

In [77]:
df1.groupby('Entity').count().show()

+--------------------+-----+
|              Entity|count|
+--------------------+-----+
|European Union (2...|   23|
|                Chad|   22|
|            Paraguay|   22|
|              Russia|   32|
|               Macao|   22|
|               World|   57|
|               Yemen|   22|
|             Senegal|   22|
|              Sweden|   58|
|            Kiribati|   22|
|              Guyana|   22|
|             Eritrea|   22|
|     Oceania (Ember)|   22|
|         Philippines|   57|
|            Djibouti|   22|
|               Tonga|   22|
|            Malaysia|   57|
|           Singapore|   57|
|                Fiji|   22|
|              Turkey|   57|
+--------------------+-----+
only showing top 20 rows

In [78]:
df1.groupBy('Entity').max('Electricity_wind').show(10)

+--------------------+---------------------+
|              Entity|max(Electricity_wind)|
+--------------------+---------------------+
|European Union (2...|               419.59|
|                Chad|                 0.01|
|            Paraguay|                  0.0|
|              Russia|                 3.89|
|               Macao|                  0.0|
|               World|              1848.26|
|               Yemen|                  0.0|
|             Senegal|                 0.25|
|              Sweden|                33.24|
|            Kiribati|                  0.0|
+--------------------+---------------------+
only showing top 10 rows

### Pyspark SQL

In [79]:
dfs = spark.read.csv(r"C:\Users\tsd95\CSV Files\customer_shopping_data.csv",header=True,inferSchema=True)

In [80]:
dfs.show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I138884|    C241288|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  05-08-2022|           Kanyon|
|   I317333|    C111565|  Male| 21|          Shoes|       3|1800.51|    Debit Card|  12-12-2021|   Forum Istanbul|
|   I127801|    C266599|  Male| 20|       Clothing|       1| 300.08|          Cash|  09-11-2021|        Metrocity|
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16-05-2021|     Metropol AVM|
|   I337046|    C189076|Female| 53|          Books|       4|   60.6|          Cash|  24-10-2021|           Kanyon|
|   I227836|    C657758|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  24-05-2022|   Forum Istanbul|
|   I121056|    C151197|Female| 49|      Cosmetics|       1|  40.66|          Cash|  13-03-2022|     Istinye Park|
|   I293112|    C176086|Female| 32|       Clothing|       2| 600.16|   Credit Card|  13-01-2021| Mall of Istanbul|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|  04-11-2021|        Metrocity|
|   I326945|    C283361|Female| 60|       Clothing|       2| 600.16|   Credit Card|  22-08-2021|           Kanyon|
|   I306368|    C240286|Female| 36|Food & Beverage|       2|  10.46|          Cash|  25-12-2022|        Metrocity|
|   I139207|    C191708|Female| 29|          Books|       1|  15.15|   Credit Card|  28-10-2022|Emaar Square Mall|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31-07-2022|        Metrocity|
|   I179802|    C312861|  Male| 25|       Clothing|       2| 600.16|          Cash|  17-11-2022|      Cevahir AVM|
|   I336189|    C555402|Female| 67|       Clothing|       2| 600.16|   Credit Card|  03-06-2022|           Kanyon|
|   I688768|    C362288|  Male| 24|          Shoes|       5|3000.85|   Credit Card|  07-11-2021|   Viaport Outlet|
|   I294687|    C300786|  Male| 65|          Books|       2|   30.3|    Debit Card|  16-01-2021|        Metrocity|
|   I195744|    C330667|Female| 42|Food & Beverage|       3|  15.69|   Credit Card|  05-01-2022|     Zorlu Center|
|   I993048|    C218149|Female| 46|       Clothing|       2| 600.16|          Cash|  26-07-2021|     Metropol AVM|
|   I992454|    C196845|  Male| 24|           Toys|       4| 143.36|          Cash|  07-03-2023|      Cevahir AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [81]:
spark.read.option('header','true').csv(r"C:\Users\tsd95\CSV Files\customer_shopping_data.csv").createOrReplaceTempView('cust')

In [82]:
spark.sql('select * from cust').show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I138884|    C241288|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  05-08-2022|           Kanyon|
|   I317333|    C111565|  Male| 21|          Shoes|       3|1800.51|    Debit Card|  12-12-2021|   Forum Istanbul|
|   I127801|    C266599|  Male| 20|       Clothing|       1| 300.08|          Cash|  09-11-2021|        Metrocity|
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16-05-2021|     Metropol AVM|
|   I337046|    C189076|Female| 53|          Books|       4|   60.6|          Cash|  24-10-2021|           Kanyon|
|   I227836|    C657758|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  24-05-2022|   Forum Istanbul|
|   I121056|    C151197|Female| 49|      Cosmetics|       1|  40.66|          Cash|  13-03-2022|     Istinye Park|
|   I293112|    C176086|Female| 32|       Clothing|       2| 600.16|   Credit Card|  13-01-2021| Mall of Istanbul|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|  04-11-2021|        Metrocity|
|   I326945|    C283361|Female| 60|       Clothing|       2| 600.16|   Credit Card|  22-08-2021|           Kanyon|
|   I306368|    C240286|Female| 36|Food & Beverage|       2|  10.46|          Cash|  25-12-2022|        Metrocity|
|   I139207|    C191708|Female| 29|          Books|       1|  15.15|   Credit Card|  28-10-2022|Emaar Square Mall|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31-07-2022|        Metrocity|
|   I179802|    C312861|  Male| 25|       Clothing|       2| 600.16|          Cash|  17-11-2022|      Cevahir AVM|
|   I336189|    C555402|Female| 67|       Clothing|       2| 600.16|   Credit Card|  03-06-2022|           Kanyon|
|   I688768|    C362288|  Male| 24|          Shoes|       5|3000.85|   Credit Card|  07-11-2021|   Viaport Outlet|
|   I294687|    C300786|  Male| 65|          Books|       2|   30.3|    Debit Card|  16-01-2021|        Metrocity|
|   I195744|    C330667|Female| 42|Food & Beverage|       3|  15.69|   Credit Card|  05-01-2022|     Zorlu Center|
|   I993048|    C218149|Female| 46|       Clothing|       2| 600.16|          Cash|  26-07-2021|     Metropol AVM|
|   I992454|    C196845|  Male| 24|           Toys|       4| 143.36|          Cash|  07-03-2023|      Cevahir AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [83]:
spark.sql('select * from cust where age>65').show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16-05-2021|     Metropol AVM|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|  04-11-2021|        Metrocity|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31-07-2022|        Metrocity|
|   I336189|    C555402|Female| 67|       Clothing|       2| 600.16|   Credit Card|  03-06-2022|           Kanyon|
|   I161949|    C159164|Female| 66|           Toys|       3| 107.52|    Debit Card|  04-07-2022| Mall of Istanbul|
|   I167211|    C164092|Female| 66|          Shoes|       4|2400.68|   Credit Card|  30-08-2022|     Zorlu Center|
|   I339732|    C276887|  Male| 68|Food & Beverage|       1|   5.23|   Credit Card|  04-01-2023|Emaar Square Mall|
|   I138674|    C155059|  Male| 67|      Cosmetics|       2|  81.32|   Credit Card|  14-02-2022|     Metropol AVM|
|   I263803|    C112279|Female| 67|Food & Beverage|       3|  15.69|          Cash|  23-06-2021|           Kanyon|
|   I157285|    C123427|  Male| 66|       Clothing|       4|1200.32|          Cash|  06-03-2022| Mall of Istanbul|
|   I260525|    C258404|  Male| 67|           Toys|       3| 107.52|          Cash|  07-01-2023|Emaar Square Mall|
|   I115870|    C135790|Female| 69|          Shoes|       4|2400.68|          Cash|  04-09-2021|        Metrocity|
|   I340014|    C169650|Female| 66|       Clothing|       2| 600.16|   Credit Card|  08-09-2022|     Istinye Park|
|   I108359|    C253905|  Male| 66|Food & Beverage|       1|   5.23|          Cash|  07-06-2022| Mall of Istanbul|
|   I222983|    C132002|Female| 68|       Clothing|       1| 300.08|   Credit Card|  23-12-2021|     Metropol AVM|
|   I246375|    C236365|Female| 67|      Cosmetics|       2|  81.32|          Cash|  28-11-2021|           Kanyon|
|   I601026|    C693789|Female| 66|       Souvenir|       5|  58.65|   Credit Card|  05-03-2022|     Zorlu Center|
|   I179048|    C270129|Female| 66|     Technology|       3|   3150|    Debit Card|  28-03-2021|      Cevahir AVM|
|   I151099|    C250395|Female| 67|       Souvenir|       2|  23.46|   Credit Card|  14-03-2021| Mall of Istanbul|
|   I164675|    C993675|  Male| 66|          Books|       5|  75.75|          Cash|  31-08-2021|           Kanyon|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [84]:
spark.sql('select * from cust where quantity<>2').show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I138884|    C241288|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  05-08-2022|           Kanyon|
|   I317333|    C111565|  Male| 21|          Shoes|       3|1800.51|    Debit Card|  12-12-2021|   Forum Istanbul|
|   I127801|    C266599|  Male| 20|       Clothing|       1| 300.08|          Cash|  09-11-2021|        Metrocity|
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16-05-2021|     Metropol AVM|
|   I337046|    C189076|Female| 53|          Books|       4|   60.6|          Cash|  24-10-2021|           Kanyon|
|   I227836|    C657758|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  24-05-2022|   Forum Istanbul|
|   I121056|    C151197|Female| 49|      Cosmetics|       1|  40.66|          Cash|  13-03-2022|     Istinye Park|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|  04-11-2021|        Metrocity|
|   I139207|    C191708|Female| 29|          Books|       1|  15.15|   Credit Card|  28-10-2022|Emaar Square Mall|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31-07-2022|        Metrocity|
|   I688768|    C362288|  Male| 24|          Shoes|       5|3000.85|   Credit Card|  07-11-2021|   Viaport Outlet|
|   I195744|    C330667|Female| 42|Food & Beverage|       3|  15.69|   Credit Card|  05-01-2022|     Zorlu Center|
|   I992454|    C196845|  Male| 24|           Toys|       4| 143.36|          Cash|  07-03-2023|      Cevahir AVM|
|   I183746|    C220180|  Male| 23|       Clothing|       1| 300.08|   Credit Card|  15-02-2023|Emaar Square Mall|
|   I412481|    C125696|Female| 27|Food & Beverage|       1|   5.23|          Cash|  01-05-2021|      Cevahir AVM|
|   I252275|    C313348|  Male| 44|     Technology|       5|   5250|          Cash|  26-10-2021|           Kanyon|
|   I174250|    C204553|Female| 42|          Books|       5|  75.75|          Cash|  16-12-2022|        Metrocity|
|   I196704|    C289625|Female| 25|      Cosmetics|       5|  203.3|   Credit Card|  20-04-2022| Mall of Istanbul|
|   I217053|    C192344|  Male| 50|          Shoes|       4|2400.68|          Cash|  10-10-2022|Emaar Square Mall|
|   I655874|    C447138|Female| 65|          Shoes|       3|1800.51|          Cash|  23-08-2022|      Cevahir AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [86]:
dfs.columns

['invoice_no',
 'customer_id',
 'gender',
 'age',
 'category',
 'quantity',
 'price',
 'payment_method',
 'invoice_date',
 'shopping_mall']

In [95]:
dfs.select("price","shopping_mall").where("category=='Shoes'").count()

10034

In [97]:
dfs.select("price","shopping_mall").where("category=='Shoes'").show()

+-------+-----------------+
|  price|    shopping_mall|
+-------+-----------------+
|1800.51|   Forum Istanbul|
|3000.85|     Metropol AVM|
|3000.85|   Viaport Outlet|
|2400.68|Emaar Square Mall|
|1800.51|      Cevahir AVM|
|1800.51|           Kanyon|
|2400.68|     Zorlu Center|
|2400.68|        Metrocity|
|1800.51|           Kanyon|
|3000.85|   Forum Istanbul|
|3000.85|Emaar Square Mall|
|2400.68|        Metrocity|
|3000.85| Mall of Istanbul|
|3000.85|           Kanyon|
| 600.17|           Kanyon|
|3000.85|           Kanyon|
| 600.17|           Kanyon|
|3000.85|     Zorlu Center|
|1800.51|     Metropol AVM|
|1200.34|           Kanyon|
+-------+-----------------+
only showing top 20 rows

In [91]:
dfs.select("category","quantity","price").where("payment_method=='Cash'").show()

+---------------+--------+-------+
|       category|quantity|  price|
+---------------+--------+-------+
|       Clothing|       1| 300.08|
|          Books|       4|   60.6|
|      Cosmetics|       1|  40.66|
|Food & Beverage|       2|  10.46|
|       Clothing|       2| 600.16|
|       Clothing|       2| 600.16|
|           Toys|       4| 143.36|
|Food & Beverage|       1|   5.23|
|     Technology|       5| 5250.0|
|          Books|       5|  75.75|
|          Shoes|       4|2400.68|
|          Shoes|       3|1800.51|
|       Clothing|       2| 600.16|
|       Clothing|       1| 300.08|
|Food & Beverage|       3|  15.69|
|      Cosmetics|       3| 121.98|
|          Shoes|       4|2400.68|
|      Cosmetics|       5|  203.3|
|          Books|       3|  45.45|
|     Technology|       4| 4200.0|
+---------------+--------+-------+
only showing top 20 rows

In [99]:
spark.sql("select category,quantity,price from cust where payment_method='Cash'").show()

+---------------+--------+-------+
|       category|quantity|  price|
+---------------+--------+-------+
|       Clothing|       1| 300.08|
|          Books|       4|   60.6|
|      Cosmetics|       1|  40.66|
|Food & Beverage|       2|  10.46|
|       Clothing|       2| 600.16|
|       Clothing|       2| 600.16|
|           Toys|       4| 143.36|
|Food & Beverage|       1|   5.23|
|     Technology|       5|   5250|
|          Books|       5|  75.75|
|          Shoes|       4|2400.68|
|          Shoes|       3|1800.51|
|       Clothing|       2| 600.16|
|       Clothing|       1| 300.08|
|Food & Beverage|       3|  15.69|
|      Cosmetics|       3| 121.98|
|          Shoes|       4|2400.68|
|      Cosmetics|       5|  203.3|
|          Books|       3|  45.45|
|     Technology|       4|   4200|
+---------------+--------+-------+
only showing top 20 rows

In [107]:
spark.sql("select price,shopping_mall from cust group where category=='Shoes'").show()

+-------+-----------------+
|  price|    shopping_mall|
+-------+-----------------+
|1800.51|   Forum Istanbul|
|3000.85|     Metropol AVM|
|3000.85|   Viaport Outlet|
|2400.68|Emaar Square Mall|
|1800.51|      Cevahir AVM|
|1800.51|           Kanyon|
|2400.68|     Zorlu Center|
|2400.68|        Metrocity|
|1800.51|           Kanyon|
|3000.85|   Forum Istanbul|
|3000.85|Emaar Square Mall|
|2400.68|        Metrocity|
|3000.85| Mall of Istanbul|
|3000.85|           Kanyon|
| 600.17|           Kanyon|
|3000.85|           Kanyon|
| 600.17|           Kanyon|
|3000.85|     Zorlu Center|
|1800.51|     Metropol AVM|
|1200.34|           Kanyon|
+-------+-----------------+
only showing top 20 rows

In [115]:
spark.sql("select gender,count('payment_method') from cust group by gender").show()

+------+---------------------+
|gender|count(payment_method)|
+------+---------------------+
|Female|                59482|
|  Male|                39975|
+------+---------------------+

In [124]:
spark.sql("select payment_method,count(shopping_mall) from cust group by payment_method").show()

+--------------+--------------------+
|payment_method|count(shopping_mall)|
+--------------+--------------------+
|   Credit Card|               34931|
|          Cash|               44447|
|    Debit Card|               20079|
+--------------+--------------------+

In [126]:
spark.sql("select * from cust order by price").show()

+----------+-----------+------+---+---------------+--------+-----+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-----+--------------+------------+-----------------+
|   I893688|    C161286|Female| 38|Food & Beverage|       2|10.46|          Cash|  31-05-2022|     Istinye Park|
|   I303999|    C176451|  Male| 44|Food & Beverage|       2|10.46|          Cash|  04-01-2023|     Metropol AVM|
|   I259309|    C251013|  Male| 60|Food & Beverage|       2|10.46|          Cash|  19-04-2021| Mall of Istanbul|
|   I284266|    C213944|Female| 48|Food & Beverage|       2|10.46|    Debit Card|  31-03-2021|        Metrocity|
|   I974682|    C801971|Female| 68|Food & Beverage|       2|10.46|   Credit Card|  01-07-2022|           Kanyon|
|   I296261|    C483308|Female| 35|Food & Beverage|       2|10.46|    Debit Card|  17-12-2022|   Viaport Outlet|
|   I293458|    C190551|  Male| 36|Food & Beverage|       2|10.46|          Cash|  26-08-2021|     Zorlu Center|
|   I396995|    C138327|Female| 54|Food & Beverage|       2|10.46|          Cash|  23-04-2021|      Cevahir AVM|
|   I134882|    C688073|Female| 52|Food & Beverage|       2|10.46|    Debit Card|  27-09-2021|        Metrocity|
|   I258154|    C130580|  Male| 50|Food & Beverage|       2|10.46|          Cash|  02-07-2022|     Zorlu Center|
|   I281345|    C135384|Female| 39|Food & Beverage|       2|10.46|          Cash|  11-09-2022|           Kanyon|
|   I207287|    C194041|Female| 58|Food & Beverage|       2|10.46|    Debit Card|  16-06-2022|      Cevahir AVM|
|   I159495|    C496090|  Male| 63|Food & Beverage|       2|10.46|          Cash|  10-11-2022|Emaar Square Mall|
|   I876436|    C294009|  Male| 22|Food & Beverage|       2|10.46|          Cash|  05-01-2021|     Metropol AVM|
|   I144951|    C884275|Female| 66|Food & Beverage|       2|10.46|   Credit Card|  17-11-2021|     Metropol AVM|
|   I215993|    C176258|Female| 58|Food & Beverage|       2|10.46|    Debit Card|  13-07-2022|           Kanyon|
|   I184811|    C246718|  Male| 58|Food & Beverage|       2|10.46|          Cash|  07-07-2022|     Zorlu Center|
|   I198509|    C199333|Female| 48|Food & Beverage|       2|10.46|   Credit Card|  06-07-2022|   Forum Istanbul|
|   I252119|    C207310|  Male| 65|Food & Beverage|       2|10.46|   Credit Card|  06-06-2021|           Kanyon|
|   I259126|    C210702|Female| 48|Food & Beverage|       2|10.46|    Debit Card|  25-07-2022|   Viaport Outlet|
+----------+-----------+------+---+---------------+--------+-----+--------------+------------+-----------------+
only showing top 20 rows

In [127]:
spark.sql("select * from cust order by invoice_date").show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I101088|    C824542|Female| 28|           Toys|       5|  179.2|    Debit Card|  01-01-2021|           Kanyon|
|   I860673|    C694253|Female| 53|       Clothing|       3| 900.24|   Credit Card|  01-01-2021|        Metrocity|
|   I262389|    C193687|  Male| 27|           Toys|       4| 143.36|   Credit Card|  01-01-2021|     Istinye Park|
|   I382797|    C759842|  Male| 54|       Souvenir|       2|  23.46|          Cash|  01-01-2021|Emaar Square Mall|
|   I114774|    C913265|  Male| 30|       Souvenir|       1|  11.73|          Cash|  01-01-2021|     Metropol AVM|
|   I211789|    C106566|  Male| 67|       Clothing|       3| 900.24|          Cash|  01-01-2021| Mall of Istanbul|
|   I310843|    C326151|  Male| 20|       Clothing|       3| 900.24|   Credit Card|  01-01-2021|        Metrocity|
|   I200375|    C255333|Female| 52|           Toys|       2|  71.68|          Cash|  01-01-2021| Mall of Istanbul|
|   I199546|    C611041|Female| 27|           Toys|       5|  179.2|    Debit Card|  01-01-2021|           Kanyon|
|   I229110|    C256999|  Male| 46|       Clothing|       1| 300.08|   Credit Card|  01-01-2021|     Metropol AVM|
|   I194857|    C198257|  Male| 44|           Toys|       5|  179.2|          Cash|  01-01-2021|        Metrocity|
|   I270599|    C211804|Female| 62|          Shoes|       5|3000.85|          Cash|  01-01-2021| Mall of Istanbul|
|   I274757|    C231715|  Male| 44|      Cosmetics|       2|  81.32|   Credit Card|  01-01-2021| Mall of Istanbul|
|   I162254|    C124578|  Male| 62|Food & Beverage|       4|  20.92|   Credit Card|  01-01-2021|Emaar Square Mall|
|   I239504|    C168045|  Male| 47|      Cosmetics|       3| 121.98|          Cash|  01-01-2021|     Istinye Park|
|   I202841|    C287964|Female| 47|          Books|       3|  45.45|   Credit Card|  01-01-2021|        Metrocity|
|   I313757|    C438201|Female| 43|       Clothing|       4|1200.32|   Credit Card|  01-01-2021| Mall of Istanbul|
|   I310590|    C612294|Female| 18|       Clothing|       1| 300.08|          Cash|  01-01-2021| Mall of Istanbul|
|   I202894|    C191193|  Male| 21|       Clothing|       3| 900.24|          Cash|  01-01-2021|      Cevahir AVM|
|   I224521|    C102966|Female| 28|           Toys|       2|  71.68|   Credit Card|  01-01-2021|     Metropol AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [128]:
spark.sql("select * from cust order by quantity").show()

+----------+-----------+------+---+---------------+--------+------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity| price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+------+--------------+------------+-----------------+
|   I291973|    C668262|  Male| 27|          Books|       1| 15.15|          Cash|  22-05-2022|     Istinye Park|
|   I639258|    C113518|Female| 41|Food & Beverage|       1|  5.23|   Credit Card|  19-01-2023|        Metrocity|
|   I217862|    C316302|  Male| 39|           Toys|       1| 35.84|   Credit Card|  26-11-2021|     Istinye Park|
|   I209392|    C203168|  Male| 56|       Clothing|       1|300.08|          Cash|  16-10-2021|     Metropol AVM|
|   I329163|    C383322|  Male| 25|           Toys|       1| 35.84|          Cash|  14-06-2022|        Metrocity|
|   I265867|    C205418|  Male| 59|       Clothing|       1|300.08|    Debit Card|  30-01-2021|     Metropol AVM|
|   I218808|    C131854|Female| 60|       Clothing|       1|300.08|    Debit Card|  26-05-2021| Mall of Istanbul|
|   I226264|    C741575|  Male| 20|       Clothing|       1|300.08|   Credit Card|  18-04-2021|   Viaport Outlet|
|   I757661|    C624131|  Male| 69|       Clothing|       1|300.08|          Cash|  07-12-2022|        Metrocity|
|   I332268|    C292096|  Male| 27|       Clothing|       1|300.08|   Credit Card|  24-09-2021|   Viaport Outlet|
|   I250700|    C142837|Female| 37|      Cosmetics|       1| 40.66|    Debit Card|  14-01-2021| Mall of Istanbul|
|   I147431|    C186489|  Male| 64|           Toys|       1| 35.84|   Credit Card|  28-07-2022|     Metropol AVM|
|   I238905|    C211982|Female| 60|       Clothing|       1|300.08|   Credit Card|  09-09-2021| Mall of Istanbul|
|   I320809|    C556733|Female| 54|      Cosmetics|       1| 40.66|          Cash|  13-07-2021|     Metropol AVM|
|   I246134|    C984995|  Male| 49|          Shoes|       1|600.17|   Credit Card|  16-11-2021|Emaar Square Mall|
|   I309287|    C105950|Female| 18|Food & Beverage|       1|  5.23|   Credit Card|  18-11-2021|           Kanyon|
|   I135357|    C184906|Female| 25|           Toys|       1| 35.84|          Cash|  11-02-2021|           Kanyon|
|   I161334|    C748328|  Male| 57|       Clothing|       1|300.08|          Cash|  27-01-2021|        Metrocity|
|   I270139|    C318303|Female| 44|      Cosmetics|       1| 40.66|   Credit Card|  15-06-2022|Emaar Square Mall|
|   I295628|    C249288|Female| 55|Food & Beverage|       1|  5.23|   Credit Card|  31-03-2022|   Viaport Outlet|
+----------+-----------+------+---+---------------+--------+------+--------------+------------+-----------------+
only showing top 20 rows

In [130]:
spark.sql('select shopping_mall,avg(price) from cust group by shopping_mall').show()

+-----------------+-----------------+
|    shopping_mall|       avg(price)|
+-----------------+-----------------+
|           Kanyon|691.6589436513524|
|        Metrocity|682.8312617414033|
| Mall of Istanbul|694.5663952264358|
|     Zorlu Center|691.5564571428515|
|      Cevahir AVM|687.9727188940027|
|Emaar Square Mall|704.7200810642215|
|   Viaport Outlet|694.7536548636493|
|     Istinye Park|686.7475247929589|
|   Forum Istanbul|674.3630119264134|
|     Metropol AVM|682.8061204605784|
+-----------------+-----------------+

In [132]:
spark.sql('select distinct(shopping_mall) from cust').show()

+-----------------+
|    shopping_mall|
+-----------------+
|           Kanyon|
|        Metrocity|
| Mall of Istanbul|
|     Zorlu Center|
|      Cevahir AVM|
|Emaar Square Mall|
|   Viaport Outlet|
|     Istinye Park|
|   Forum Istanbul|
|     Metropol AVM|
+-----------------+

In [133]:
spark.sql('select distinct(category) from cust').show()

+---------------+
|       category|
+---------------+
|Food & Beverage|
|       Clothing|
|       Souvenir|
|          Books|
|     Technology|
|      Cosmetics|
|          Shoes|
|           Toys|
+---------------+

In [144]:
dfs.groupBy("shopping_mall").count().filter("shopping_mall=='Kanyon'").show()

+-------------+-----+
|shopping_mall|count|
+-------------+-----+
|       Kanyon|19823|
+-------------+-----+

In [158]:
spark.sql("select shopping_mall,count(*) from cust group by shopping_mall having shopping_mall=='Kanyon'").show()

+-------------+--------+
|shopping_mall|count(1)|
+-------------+--------+
|       Kanyon|   19823|
+-------------+--------+

In [173]:
spark.sql("select * from cust where quantity==5 and category=='Shoes' and payment_method=='Cash'and gender=='Male'and age>65 and shopping_mall=='Metrocity'").show()

+----------+-----------+------+---+--------+--------+-------+--------------+------------+-------------+
|invoice_no|customer_id|gender|age|category|quantity|  price|payment_method|invoice_date|shopping_mall|
+----------+-----------+------+---+--------+--------+-------+--------------+------------+-------------+
|   I199517|    C229505|  Male| 67|   Shoes|       5|3000.85|          Cash|  10-01-2021|    Metrocity|
|   I339002|    C231432|  Male| 68|   Shoes|       5|3000.85|          Cash|  09-02-2023|    Metrocity|
|   I286068|    C930713|  Male| 68|   Shoes|       5|3000.85|          Cash|  04-06-2022|    Metrocity|
|   I296999|    C203357|  Male| 68|   Shoes|       5|3000.85|          Cash|  05-10-2022|    Metrocity|
|   I287706|    C584263|  Male| 66|   Shoes|       5|3000.85|          Cash|  25-11-2021|    Metrocity|
|   I241404|    C851984|  Male| 69|   Shoes|       5|3000.85|          Cash|  01-06-2021|    Metrocity|
+----------+-----------+------+---+--------+--------+-------+--------------+------------+-------------+

In [175]:
spark.sql("select gender,max(age) from cust group by gender").show()

+------+--------+
|gender|max(age)|
+------+--------+
|Female|      69|
|  Male|      69|
+------+--------+

In [176]:
spark.sql("select shopping_mall,max(price) from cust group by shopping_mall").show()

+-----------------+----------+
|    shopping_mall|max(price)|
+-----------------+----------+
|      Cevahir AVM|    900.24|
|Emaar Square Mall|    900.24|
|   Forum Istanbul|    900.24|
|     Istinye Park|    900.24|
|           Kanyon|    900.24|
| Mall of Istanbul|    900.24|
|        Metrocity|    900.24|
|     Metropol AVM|    900.24|
|   Viaport Outlet|    900.24|
|     Zorlu Center|    900.24|
+-----------------+----------+

In [177]:
spark.sql("select payment_method,max(price) from cust group by payment_method").show()

+--------------+----------+
|payment_method|max(price)|
+--------------+----------+
|          Cash|    900.24|
|   Credit Card|    900.24|
|    Debit Card|    900.24|
+--------------+----------+

In [187]:
spark.sql("select category,count(*) from cust group by category having count(*)>10000").show()

+---------------+--------+
|       category|count(1)|
+---------------+--------+
|Food & Beverage|   14776|
|       Clothing|   34487|
|      Cosmetics|   15097|
|          Shoes|   10034|
|           Toys|   10087|
+---------------+--------+

In [159]:
dfs.show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I138884|    C241288|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  05-08-2022|           Kanyon|
|   I317333|    C111565|  Male| 21|          Shoes|       3|1800.51|    Debit Card|  12-12-2021|   Forum Istanbul|
|   I127801|    C266599|  Male| 20|       Clothing|       1| 300.08|          Cash|  09-11-2021|        Metrocity|
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16-05-2021|     Metropol AVM|
|   I337046|    C189076|Female| 53|          Books|       4|   60.6|          Cash|  24-10-2021|           Kanyon|
|   I227836|    C657758|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  24-05-2022|   Forum Istanbul|
|   I121056|    C151197|Female| 49|      Cosmetics|       1|  40.66|          Cash|  13-03-2022|     Istinye Park|
|   I293112|    C176086|Female| 32|       Clothing|       2| 600.16|   Credit Card|  13-01-2021| Mall of Istanbul|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|  04-11-2021|        Metrocity|
|   I326945|    C283361|Female| 60|       Clothing|       2| 600.16|   Credit Card|  22-08-2021|           Kanyon|
|   I306368|    C240286|Female| 36|Food & Beverage|       2|  10.46|          Cash|  25-12-2022|        Metrocity|
|   I139207|    C191708|Female| 29|          Books|       1|  15.15|   Credit Card|  28-10-2022|Emaar Square Mall|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31-07-2022|        Metrocity|
|   I179802|    C312861|  Male| 25|       Clothing|       2| 600.16|          Cash|  17-11-2022|      Cevahir AVM|
|   I336189|    C555402|Female| 67|       Clothing|       2| 600.16|   Credit Card|  03-06-2022|           Kanyon|
|   I688768|    C362288|  Male| 24|          Shoes|       5|3000.85|   Credit Card|  07-11-2021|   Viaport Outlet|
|   I294687|    C300786|  Male| 65|          Books|       2|   30.3|    Debit Card|  16-01-2021|        Metrocity|
|   I195744|    C330667|Female| 42|Food & Beverage|       3|  15.69|   Credit Card|  05-01-2022|     Zorlu Center|
|   I993048|    C218149|Female| 46|       Clothing|       2| 600.16|          Cash|  26-07-2021|     Metropol AVM|
|   I992454|    C196845|  Male| 24|           Toys|       4| 143.36|          Cash|  07-03-2023|      Cevahir AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [192]:
t1 = spark.read.csv(r"C:\Users\tsd95\CSV Files\09 cumulative-installed-wind-energy-capacity-gigawatts.csv",header=True,inferSchema=True).createOrReplaceTempView('tb1')
t2 = spark.read.csv(r"C:\Users\tsd95\CSV Files\08 wind-generation.csv",header=True,inferSchema=True).createOrReplaceTempView('tb2')

In [189]:
t1.show()

+------+----+----+-------------------+
|Entity|Code|Year|      Wind Capacity|
+------+----+----+-------------------+
|Africa|null|1997|              0.006|
|Africa|null|1998|               0.01|
|Africa|null|1999|              0.064|
|Africa|null|2000|            0.13905|
|Africa|null|2001|            0.13905|
|Africa|null|2002|            0.14431|
|Africa|null|2003|0.15361000000000002|
|Africa|null|2004|            0.23613|
|Africa|null|2005|             0.2402|
|Africa|null|2006|           0.327925|
|Africa|null|2007|0.47012000000000004|
|Africa|null|2008|            0.55532|
|Africa|null|2009|            0.74237|
|Africa|null|2010|           0.864797|
|Africa|null|2011| 0.9950019999999999|
|Africa|null|2012|           1.127604|
|Africa|null|2013|           1.741834|
|Africa|null|2014|           2.399398|
|Africa|null|2015|           3.320268|
|Africa|null|2016|           3.826414|
+------+----+----+-------------------+
only showing top 20 rows

In [190]:
t2.show()

+-----------+----+----+----------------+
|     Entity|Code|Year|Electricity_wind|
+-----------+----+----+----------------+
|Afghanistan| AFG|2000|             0.0|
|Afghanistan| AFG|2001|             0.0|
|Afghanistan| AFG|2002|             0.0|
|Afghanistan| AFG|2003|             0.0|
|Afghanistan| AFG|2004|             0.0|
|Afghanistan| AFG|2005|             0.0|
|Afghanistan| AFG|2006|             0.0|
|Afghanistan| AFG|2007|             0.0|
|Afghanistan| AFG|2008|             0.0|
|Afghanistan| AFG|2009|             0.0|
|Afghanistan| AFG|2010|             0.0|
|Afghanistan| AFG|2011|             0.0|
|Afghanistan| AFG|2012|             0.0|
|Afghanistan| AFG|2013|             0.0|
|Afghanistan| AFG|2014|             0.0|
|Afghanistan| AFG|2015|             0.0|
|Afghanistan| AFG|2016|             0.0|
|Afghanistan| AFG|2017|             0.0|
|Afghanistan| AFG|2018|             0.0|
|Afghanistan| AFG|2019|             0.0|
+-----------+----+----+----------------+
only showing top 20 rows

In [193]:
spark.sql("select * from tb1 inner join tb2").show()

+------+----+----+-------------------+-----------+----+----+----------------+
|Entity|Code|Year|      Wind Capacity|     Entity|Code|Year|Electricity_wind|
+------+----+----+-------------------+-----------+----+----+----------------+
|Africa|null|1997|              0.006|Afghanistan| AFG|2000|             0.0|
|Africa|null|1998|               0.01|Afghanistan| AFG|2000|             0.0|
|Africa|null|1999|              0.064|Afghanistan| AFG|2000|             0.0|
|Africa|null|2000|            0.13905|Afghanistan| AFG|2000|             0.0|
|Africa|null|2001|            0.13905|Afghanistan| AFG|2000|             0.0|
|Africa|null|2002|            0.14431|Afghanistan| AFG|2000|             0.0|
|Africa|null|2003|0.15361000000000002|Afghanistan| AFG|2000|             0.0|
|Africa|null|2004|            0.23613|Afghanistan| AFG|2000|             0.0|
|Africa|null|2005|             0.2402|Afghanistan| AFG|2000|             0.0|
|Africa|null|2006|           0.327925|Afghanistan| AFG|2000|             0.0|
|Africa|null|2007|0.47012000000000004|Afghanistan| AFG|2000|             0.0|
|Africa|null|2008|            0.55532|Afghanistan| AFG|2000|             0.0|
|Africa|null|2009|            0.74237|Afghanistan| AFG|2000|             0.0|
|Africa|null|2010|           0.864797|Afghanistan| AFG|2000|             0.0|
|Africa|null|2011| 0.9950019999999999|Afghanistan| AFG|2000|             0.0|
|Africa|null|2012|           1.127604|Afghanistan| AFG|2000|             0.0|
|Africa|null|2013|           1.741834|Afghanistan| AFG|2000|             0.0|
|Africa|null|2014|           2.399398|Afghanistan| AFG|2000|             0.0|
|Africa|null|2015|           3.320268|Afghanistan| AFG|2000|             0.0|
|Africa|null|2016|           3.826414|Afghanistan| AFG|2000|             0.0|
+------+----+----+-------------------+-----------+----+----+----------------+
only showing top 20 rows

In [195]:
spark.sql('select * from tb1 intersect select * from tb2').show()

+------------+----+----+-------------+
|      Entity|Code|Year|Wind Capacity|
+------------+----+----+-------------+
|    Pakistan| PAK|1997|          0.0|
|    Thailand| THA|1999|          0.0|
|    Pakistan| PAK|1998|          0.0|
|South Africa| ZAF|1998|          0.0|
|     Belgium| BEL|1998|         0.01|
|      Russia| RUS|2005|         0.01|
|    Pakistan| PAK|2003|          0.0|
|    Thailand| THA|1998|          0.0|
|    Pakistan| PAK|2004|          0.0|
| Philippines| PHL|2001|          0.0|
|     Austria| AUT|1997|         0.02|
|    Pakistan| PAK|2000|          0.0|
|     Romania| ROU|1999|          0.0|
| South Korea| KOR|1997|        0.001|
|    Thailand| THA|2005|          0.0|
|    Bulgaria| BGR|2000|          0.0|
|     Romania| ROU|1998|          0.0|
|    Pakistan| PAK|2001|          0.0|
| Philippines| PHL|2004|          0.0|
|     Romania| ROU|2003|          0.0|
+------------+----+----+-------------+
only showing top 20 rows

In [198]:
spark.sql('select * from tb1 left join tb2 on tb1.Year=tb2.Year').show()

+------+----+----+-------------+--------------------+--------+----+----------------+
|Entity|Code|Year|Wind Capacity|              Entity|    Code|Year|Electricity_wind|
+------+----+----+-------------+--------------------+--------+----+----------------+
|Africa|null|1997|        0.006|               World|OWID_WRL|1997|       12.017817|
|Africa|null|1997|        0.006| Western Africa (BP)|    null|1997|          0.0072|
|Africa|null|1997|        0.006|             Vietnam|     VNM|1997|             0.0|
|Africa|null|1997|        0.006|           Venezuela|     VEN|1997|             0.0|
|Africa|null|1997|        0.006|          Uzbekistan|     UZB|1997|             0.0|
|Africa|null|1997|        0.006|Upper-middle-inco...|    null|1997|       0.2291718|
|Africa|null|1997|        0.006|       United States|     USA|1997|       3.3212476|
|Africa|null|1997|        0.006|      United Kingdom|     GBR|1997|            0.67|
|Africa|null|1997|        0.006|United Arab Emirates|     ARE|1997|             0.0|
|Africa|null|1997|        0.006|             Ukraine|     UKR|1997|             0.0|
|Africa|null|1997|        0.006|        Turkmenistan|     TKM|1997|             0.0|
|Africa|null|1997|        0.006|              Turkey|     TUR|1997|             0.0|
|Africa|null|1997|        0.006| Trinidad and Tobago|     TTO|1997|             0.0|
|Africa|null|1997|        0.006|            Thailand|     THA|1997|             0.0|
|Africa|null|1997|        0.006|              Taiwan|     TWN|1997|             0.0|
|Africa|null|1997|        0.006|         Switzerland|     CHE|1997|           0.002|
|Africa|null|1997|        0.006|              Sweden|     SWE|1997|             0.2|
|Africa|null|1997|        0.006|           Sri Lanka|     LKA|1997|             0.0|
|Africa|null|1997|        0.006|               Spain|     ESP|1997|            0.74|
|Africa|null|1997|        0.006|South and Central...|    null|1997|        0.102926|
+------+----+----+-------------+--------------------+--------+----+----------------+
only showing top 20 rows