In [1]:
import pyspark
from pyspark.sql import SparkSession
Spark = SparkSession.builder.appName('Test').getOrCreate()
Spark

In [2]:
df = Spark.read.csv(r"C:\Users\tsd95\CSV Files\WA_Fn-UseC_-Telco-Customer-Churn.csv",inferSchema=True,header=True)

In [3]:
df.show(10)

+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|customerID|gender|SeniorCitizen|Partner|Dependents|tenure|PhoneService|   MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|7590-VHVEG|Female|            0|    Yes|        No|     1|          No|No phone service|            DSL|            No|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|         29.85|       29.85|   No|
|5575-GNVDE|  Male|            0|     No|        No|    34|         Yes|              No|            DSL|           Yes|          No|             Yes|         No|         No|             No|      One year|              No|        Mailed check|         56.95|      1889.5|   No|
|3668-QPYBK|  Male|            0|     No|        No|     2|         Yes|              No|            DSL|           Yes|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|        Mailed check|         53.85|      108.15|  Yes|
|7795-CFOCW|  Male|            0|     No|        No|    45|          No|No phone service|            DSL|           Yes|          No|             Yes|        Yes|         No|             No|      One year|              No|Bank transfer (au...|          42.3|     1840.75|   No|
|9237-HQITU|Female|            0|     No|        No|     2|         Yes|              No|    Fiber optic|            No|          No|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|          70.7|      151.65|  Yes|
|9305-CDSKC|Female|            0|     No|        No|     8|         Yes|             Yes|    Fiber optic|            No|          No|             Yes|         No|        Yes|            Yes|Month-to-month|             Yes|    Electronic check|         99.65|       820.5|  Yes|
|1452-KIOVK|  Male|            0|     No|       Yes|    22|         Yes|             Yes|    Fiber optic|            No|         Yes|              No|         No|        Yes|             No|Month-to-month|             Yes|Credit card (auto...|          89.1|      1949.4|   No|
|6713-OKOMC|Female|            0|     No|        No|    10|          No|No phone service|            DSL|           Yes|          No|              No|         No|         No|             No|Month-to-month|              No|        Mailed check|         29.75|       301.9|   No|
|7892-POOKP|Female|            0|    Yes|        No|    28|         Yes|             Yes|    Fiber optic|            No|          No|             Yes|        Yes|        Yes|            Yes|Month-to-month|             Yes|    Electronic check|         104.8|     3046.05|  Yes|
|6388-TABGU|  Male|            0|     No|       Yes|    62|         Yes|              No|            DSL|           Yes|         Yes|              No|         No|         No|             No|      One year|              No|Bank transfer (au...|         56.15|     3487.95|   No|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
only showing top 10 rows

In [4]:
df.columns

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [5]:
df.describe().show()

+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+
|summary|customerID|gender|     SeniorCitizen|Partner|Dependents|            tenure|PhoneService|MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|    MonthlyCharges|      TotalCharges|Churn|
+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+
|  count|      7043|  7043|              7043|   7043|      7043|              7043|        7043|         7043|           7043|          7043|        7043|            7043|       7043|       7043|           7043|          7043|            7043|                7043|              7043|              7043| 7043|
|   mean|      null|  null|0.1621468124378816|   null|      null| 32.37114865824223|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null| 64.76169246059922|2283.3004408418697| null|
| stddev|      null|  null|0.3686116056100135|   null|      null|24.559481023094442|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null|30.090047097678482| 2266.771361883145| null|
|    min|0002-ORFBO|Female|                 0|     No|        No|                 0|          No|           No|            DSL|            No|          No|              No|         No|         No|             No|Month-to-month|              No|Bank transfer (au...|             18.25|                  |   No|
|    max|9995-HOTOH|  Male|                 1|    Yes|       Yes|                72|         Yes|          Yes|             No|           Yes|         Yes|             Yes|        Yes|        Yes|            Yes|      Two year|             Yes|        Mailed check|            118.75|             999.9|  Yes|
+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+

In [6]:
df.printSchema()

root
 |-- customerID: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- SeniorCitizen: integer (nullable = true)
 |-- Partner: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- tenure: integer (nullable = true)
 |-- PhoneService: string (nullable = true)
 |-- MultipleLines: string (nullable = true)
 |-- InternetService: string (nullable = true)
 |-- OnlineSecurity: string (nullable = true)
 |-- OnlineBackup: string (nullable = true)
 |-- DeviceProtection: string (nullable = true)
 |-- TechSupport: string (nullable = true)
 |-- StreamingTV: string (nullable = true)
 |-- StreamingMovies: string (nullable = true)
 |-- Contract: string (nullable = true)
 |-- PaperlessBilling: string (nullable = true)
 |-- PaymentMethod: string (nullable = true)
 |-- MonthlyCharges: double (nullable = true)
 |-- TotalCharges: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.head(5)

[Row(customerID='7590-VHVEG', gender='Female', SeniorCitizen=0, Partner='Yes', Dependents='No', tenure=1, PhoneService='No', MultipleLines='No phone service', InternetService='DSL', OnlineSecurity='No', OnlineBackup='Yes', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Electronic check', MonthlyCharges=29.85, TotalCharges='29.85', Churn='No'),
 Row(customerID='5575-GNVDE', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=34, PhoneService='Yes', MultipleLines='No', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='No', DeviceProtection='Yes', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='One year', PaperlessBilling='No', PaymentMethod='Mailed check', MonthlyCharges=56.95, TotalCharges='1889.5', Churn='No'),
 Row(customerID='3668-QPYBK', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=2, PhoneService='Yes', MultipleLines='No', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='Yes', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Mailed check', MonthlyCharges=53.85, TotalCharges='108.15', Churn='Yes'),
 Row(customerID='7795-CFOCW', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=45, PhoneService='No', MultipleLines='No phone service', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='No', DeviceProtection='Yes', TechSupport='Yes', StreamingTV='No', StreamingMovies='No', Contract='One year', PaperlessBilling='No', PaymentMethod='Bank transfer (automatic)', MonthlyCharges=42.3, TotalCharges='1840.75', Churn='No'),
 Row(customerID='9237-HQITU', gender='Female', SeniorCitizen=0, Partner='No', Dependents='No', tenure=2, PhoneService='Yes', MultipleLines='No', InternetService='Fiber optic', OnlineSecurity='No', OnlineBackup='No', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Electronic check', MonthlyCharges=70.7, TotalCharges='151.65', Churn='Yes')]

In [8]:
df.select('Dependents','tenure','OnlineSecurity','OnlineBackup','TechSupport','StreamingTV','StreamingMovies').show(5)

+----------+------+--------------+------------+-----------+-----------+---------------+
|Dependents|tenure|OnlineSecurity|OnlineBackup|TechSupport|StreamingTV|StreamingMovies|
+----------+------+--------------+------------+-----------+-----------+---------------+
|        No|     1|            No|         Yes|         No|         No|             No|
|        No|    34|           Yes|          No|         No|         No|             No|
|        No|     2|           Yes|         Yes|         No|         No|             No|
|        No|    45|           Yes|          No|        Yes|         No|             No|
|        No|     2|            No|          No|         No|         No|             No|
+----------+------+--------------+------------+-----------+-----------+---------------+
only showing top 5 rows

In [9]:
df = df.withColumn('Yearly_Charges',df['MonthlyCharges']*12)

In [10]:
df.show(5)

+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
|customerID|gender|SeniorCitizen|Partner|Dependents|tenure|PhoneService|   MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|    Yearly_Charges|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
|7590-VHVEG|Female|            0|    Yes|        No|     1|          No|No phone service|            DSL|            No|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|         29.85|       29.85|   No|358.20000000000005|
|5575-GNVDE|  Male|            0|     No|        No|    34|         Yes|              No|            DSL|           Yes|          No|             Yes|         No|         No|             No|      One year|              No|        Mailed check|         56.95|      1889.5|   No| 683.4000000000001|
|3668-QPYBK|  Male|            0|     No|        No|     2|         Yes|              No|            DSL|           Yes|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|        Mailed check|         53.85|      108.15|  Yes|             646.2|
|7795-CFOCW|  Male|            0|     No|        No|    45|          No|No phone service|            DSL|           Yes|          No|             Yes|        Yes|         No|             No|      One year|              No|Bank transfer (au...|          42.3|     1840.75|   No|507.59999999999997|
|9237-HQITU|Female|            0|     No|        No|     2|         Yes|              No|    Fiber optic|            No|          No|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|          70.7|      151.65|  Yes| 848.4000000000001|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
only showing top 5 rows

In [11]:
df = df.withColumnRenamed('Yearly_Charges','YearlyCharges')

In [12]:
df.show(5)

+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
|customerID|gender|SeniorCitizen|Partner|Dependents|tenure|PhoneService|   MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|     YearlyCharges|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
|7590-VHVEG|Female|            0|    Yes|        No|     1|          No|No phone service|            DSL|            No|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|         29.85|       29.85|   No|358.20000000000005|
|5575-GNVDE|  Male|            0|     No|        No|    34|         Yes|              No|            DSL|           Yes|          No|             Yes|         No|         No|             No|      One year|              No|        Mailed check|         56.95|      1889.5|   No| 683.4000000000001|
|3668-QPYBK|  Male|            0|     No|        No|     2|         Yes|              No|            DSL|           Yes|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|        Mailed check|         53.85|      108.15|  Yes|             646.2|
|7795-CFOCW|  Male|            0|     No|        No|    45|          No|No phone service|            DSL|           Yes|          No|             Yes|        Yes|         No|             No|      One year|              No|Bank transfer (au...|          42.3|     1840.75|   No|507.59999999999997|
|9237-HQITU|Female|            0|     No|        No|     2|         Yes|              No|    Fiber optic|            No|          No|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|          70.7|      151.65|  Yes| 848.4000000000001|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+------------------+
only showing top 5 rows

In [13]:
df.summary().show()

+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+------------------+
|summary|customerID|gender|     SeniorCitizen|Partner|Dependents|            tenure|PhoneService|MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|    MonthlyCharges|      TotalCharges|Churn|     YearlyCharges|
+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+------------------+
|  count|      7043|  7043|              7043|   7043|      7043|              7043|        7043|         7043|           7043|          7043|        7043|            7043|       7043|       7043|           7043|          7043|            7043|                7043|              7043|              7043| 7043|              7043|
|   mean|      null|  null|0.1621468124378816|   null|      null| 32.37114865824223|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null| 64.76169246059922|2283.3004408418697| null| 777.1403095271866|
| stddev|      null|  null|0.3686116056100135|   null|      null|24.559481023094442|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null|30.090047097678482| 2266.771361883145| null| 361.0805651721416|
|    min|0002-ORFBO|Female|                 0|     No|        No|                 0|          No|           No|            DSL|            No|          No|              No|         No|         No|             No|Month-to-month|              No|Bank transfer (au...|             18.25|                  |   No|             219.0|
|    25%|      null|  null|                 0|   null|      null|                 9|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null|              35.5|             401.1| null|             426.0|
|    50%|      null|  null|                 0|   null|      null|                29|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null|             70.35|            1396.9| null| 844.1999999999999|
|    75%|      null|  null|                 0|   null|      null|                55|        null|         null|           null|          null|        null|            null|       null|       null|           null|          null|            null|                null|             89.85|            3791.6| null|1078.1999999999998|
|    max|9995-HOTOH|  Male|                 1|    Yes|       Yes|                72|         Yes|          Yes|             No|           Yes|         Yes|             Yes|        Yes|        Yes|            Yes|      Two year|             Yes|        Mailed check|            118.75|             999.9|  Yes|            1425.0|
+-------+----------+------+------------------+-------+----------+------------------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+------------------+------------------+-----+------------------+

In [14]:
dn = Spark.read.csv(r"C:\Users\tsd95\CSV Files\Model\NullValues.csv",inferSchema=True,header=True)

In [15]:
dn.show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| null|  harish@gmail.com|    null|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    null|
| 162|     Shlok|  27|46497|              null|    null|
| 648|      null|  24|45404|  kanika@gmail.com|    null|
+----+----------+----+-----+------------------+--------+

In [16]:
dn.dropna().show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+----------+---+-----+------------------+--------+

In [17]:
dn.na.drop(how='any').show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
+---+----------+---+-----+------------------+--------+

In [18]:
dn.na.drop(how='all').show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| null|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| null|  harish@gmail.com|    null|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      null|null|78700|              null|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      null|  25|76464|              null|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      null|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    null|
| 162|     Shlok|  27|46497|              null|    null|
| 648|      null|  24|45404|  kanika@gmail.com|    null|
+----+----------+----+-----+------------------+--------+

In [19]:
#atleast 5 Values Should be Present.
dn.na.drop(thresh=5).show()

+---+----------+----+-----+------------------+--------+
| ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+---+----------+----+-----+------------------+--------+
|105|      Anil|  32| null|    anil@gmail.com|    Pune|
|106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
|114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
|140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
|498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|489|   Pratham|  25|46479| pratham@gmail.com|    null|
+---+----------+----+-----+------------------+--------+

In [20]:
dn.na.fill('Fill').show()

+----+----------+----+-----+------------------+--------+
|  ID|      NAME| AGE|  SAL|             EMAIL|     LOC|
+----+----------+----+-----+------------------+--------+
| 105|      Anil|  32| Fill|    anil@gmail.com|    Pune|
| 106|    Chetan|null|98000|    chet@yahoo.com|   Pawai|
| 114|    Jayesh|  27|65000|jayesh@outlook.com|   Thane|
|null|    Harish|  25| Fill|  harish@gmail.com|    Fill|
| 120|     Komal|  28|59700|   komal@yahoo.com| Sangali|
| 135|      Fill|null|78700|              Fill|Hydrabad|
| 140|    Sachin|  29|45700|  sachin@gmail.com|Kolhapur|
| 135|Vijaykumar|  32|46940|   vijay@yahoo.com|Kolhapur|
| 498|     Kiran|null|61649|   kamal@gmail.com|   Panji|
|null|      Fill|  25|76464|              Fill|  Barshi|
| 416|    Bharat|null|98746|  bharat@gmail.com|   Latur|
|null|      Fill|  40| null|  sachin@gmail.com|    Pune|
| 489|   Pratham|  25|46479| pratham@gmail.com|    Fill|
| 162|     Shlok|  27|46497|              Fill|    Fill|
| 648|      Fill|  24|45404|  kanika@gmail.com|    Fill|
+----+----------+----+-----+------------------+--------+

In [21]:
dn.na.fill(25,['Name','Age','ID']).show()

+---+----------+---+-----+------------------+--------+
| ID|      NAME|AGE|  SAL|             EMAIL|     LOC|
+---+----------+---+-----+------------------+--------+
|105|      Anil| 32| null|    anil@gmail.com|    Pune|
|106|    Chetan| 25|98000|    chet@yahoo.com|   Pawai|
|114|    Jayesh| 27|65000|jayesh@outlook.com|   Thane|
| 25|    Harish| 25| null|  harish@gmail.com|    null|
|120|     Komal| 28|59700|   komal@yahoo.com| Sangali|
|135|      null| 25|78700|              null|Hydrabad|
|140|    Sachin| 29|45700|  sachin@gmail.com|Kolhapur|
|135|Vijaykumar| 32|46940|   vijay@yahoo.com|Kolhapur|
|498|     Kiran| 25|61649|   kamal@gmail.com|   Panji|
| 25|      null| 25|76464|              null|  Barshi|
|416|    Bharat| 25|98746|  bharat@gmail.com|   Latur|
| 25|      null| 40| null|  sachin@gmail.com|    Pune|
|489|   Pratham| 25|46479| pratham@gmail.com|    null|
|162|     Shlok| 27|46497|              null|    null|
|648|      null| 24|45404|  kanika@gmail.com|    null|
+---+----------+---+-----+------------------+--------+

In [22]:
ds = Spark.read.csv(r"C:\Users\tsd95\CSV Files\cruise_ship_info.csv",inferSchema=True,header=True)

In [23]:
ds.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [25]:
Spark.sql('select * from crew').show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [26]:
ds.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [27]:
Spark.sql('select Ship_name,Cruise_line,Age,crew from crew ').show()

+-----------+-----------+---+----+
|  Ship_name|Cruise_line|Age|crew|
+-----------+-----------+---+----+
|    Journey|    Azamara|  6|3.55|
|      Quest|    Azamara|  6|3.55|
|Celebration|   Carnival| 26| 6.7|
|   Conquest|   Carnival| 11|19.1|
|    Destiny|   Carnival| 17|10.0|
|    Ecstasy|   Carnival| 22| 9.2|
|    Elation|   Carnival| 15| 9.2|
|    Fantasy|   Carnival| 23| 9.2|
|Fascination|   Carnival| 19| 9.2|
|    Freedom|   Carnival|  6|11.5|
|      Glory|   Carnival| 10|11.6|
|    Holiday|   Carnival| 28| 6.6|
|Imagination|   Carnival| 18| 9.2|
|Inspiration|   Carnival| 17| 9.2|
|     Legend|   Carnival| 11| 9.3|
|   Liberty*|   Carnival|  8|11.6|
|    Miracle|   Carnival|  9|10.3|
|   Paradise|   Carnival| 15| 9.2|
|      Pride|   Carnival| 12| 9.3|
|  Sensation|   Carnival| 20| 9.2|
+-----------+-----------+---+----+
only showing top 20 rows

In [28]:
Spark.sql("select Ship_name,count(Cruise_line) from crew group by Ship_name having count(Cruise_line)>2 ").show()

+---------+------------------+
|Ship_name|count(Cruise_line)|
+---------+------------------+
|   Spirit|                 4|
|   Legend|                 3|
|     Star|                 3|
+---------+------------------+

In [29]:
Spark.sql("select distinct(Ship_name) from crew").show()

+------------+
|   Ship_name|
+------------+
|       Virgo|
|     Fortuna|
|      Shadow|
|     Empress|
|        Wind|
|    Paradise|
|        Surf|
|      Wonder|
|       Magic|
|    Symphony|
|    Sinfonia|
| Inspiration|
|   Millenium|
|    Solstice|
|PrideofAloha|
|     Majesty|
|     Ventura|
|   Romantica|
|      Spirit|
|       Oasis|
+------------+
only showing top 20 rows

In [30]:
Spark.sql("select distinct(Cruise_line) from crew").show()

+-----------------+
|      Cruise_line|
+-----------------+
|            Costa|
|              P&O|
|           Cunard|
|Regent_Seven_Seas|
|              MSC|
|         Carnival|
|          Crystal|
|           Orient|
|         Princess|
|        Silversea|
|         Seabourn|
| Holland_American|
|         Windstar|
|           Disney|
|        Norwegian|
|          Oceania|
|          Azamara|
|        Celebrity|
|             Star|
|  Royal_Caribbean|
+-----------------+

In [31]:
Spark.sql("select * from crew order by crew").show(5)

+---------+-----------+---+-------+----------+------+------+-----------------+----+
|Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+---------+-----------+---+-------+----------+------+------+-----------------+----+
|   Taurus|       Star| 22|  3.341|      0.66|  2.79|  0.33|            50.62|0.59|
|    Aries|       Star| 22|  3.341|      0.66|   2.8|  0.33|            50.62|0.59|
|Xpedition|  Celebrity| 12|  2.329|      0.94|  2.96|  0.45|            24.78| 0.6|
|     Star|   Windstar| 27|   5.35|      1.67|   4.4|  0.74|            32.04|0.88|
|   Spirit|   Windstar| 25|   5.35|      1.58|   4.4|  0.74|            33.86|0.88|
+---------+-----------+---+-------+----------+------+------+-----------------+----+
only showing top 5 rows

In [32]:
Spark.sql("select * from crew order by Age").show()

+-------------+-----------------+---+-----------------+----------+------+------+-----------------+-----+
|    Ship_name|      Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|
+-------------+-----------------+---+-----------------+----------+------+------+-----------------+-----+
|      Fortuna|            Costa| 10|            105.0|      27.2|   8.9| 13.56|             38.6|10.68|
|        Glory|         Carnival| 10|            110.0|     29.74|  9.51| 14.87|            36.99| 11.6|
|      Mariner|  Royal_Caribbean| 10|            138.0|     31.14|  10.2| 15.57|            44.32|11.85|
|     Serenade|  Royal_Caribbean| 10|            90.09|     25.01|  9.62|  10.5|            36.02| 8.58|
|    Oosterdam| Holland_American| 10|81.76899999999999|     18.48|  9.59|  9.24|            44.25| 8.42|
|       Lirica|              MSC| 10|           58.825|      15.6|  8.23|  7.65|            37.71|  7.0|
|     Serenity|          Crystal| 10|             68.0|      10.8|   7.9|   5.5|            62.96| 6.36|
|       Oceana|              P&O| 10|             77.0|     20.16|  8.56|  9.75|            38.19|  9.0|
| Mediterranea|            Costa| 10|             86.0|     21.14|   9.6| 10.56|            40.68|  9.2|
|       Island|         Princess| 10|91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|
|      Voyager|Regent_Seven_Seas| 10|             46.0|       7.0|   6.7|  1.82|            65.71| 4.47|
|   QueenMary2|           Cunard| 10|            151.4|      26.2| 11.32| 11.34|            57.79|12.53|
|       Legend|         Carnival| 11|             86.0|     21.24|  9.63| 10.62|            40.49|  9.3|
|    Zuiderdam| Holland_American| 11|             85.0|     18.48|  9.51|  9.24|             46.0|  8.0|
|Constellation|        Celebrity| 11|             91.0|     20.32|  9.65|  9.75|            44.78| 9.99|
|     Sinfonia|              MSC| 11|             58.6|     15.66|  8.23|  7.83|            37.42|  7.6|
|         Star|         Princess| 11|          108.977|     26.02|  9.51| 13.01|            41.88| 12.0|
|     Conquest|         Carnival| 11|            110.0|     29.74|  9.53| 14.88|            36.99| 19.1|
|         Dawn|        Norwegian| 11|             90.0|      22.4|  9.65|  11.2|            40.18| 11.0|
|   Brilliance|  Royal_Caribbean| 11|            90.09|     25.01|  9.62|  10.5|            36.02| 8.48|
+-------------+-----------------+---+-----------------+----------+------+------+-----------------+-----+
only showing top 20 rows

In [33]:
Spark.sql("select * from crew where Ship_name=='Spirit'").show(5)

+---------+-----------+---+-----------------+----------+------+------+-----------------+-----+
|Ship_name|Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|
+---------+-----------+---+-----------------+----------+------+------+-----------------+-----+
|   Spirit|   Carnival| 12|             88.5|     21.24|  9.63| 10.56|            41.67|10.29|
|   Spirit|  Norwegian| 15|75.33800000000001|     19.56|  8.79|  9.83|            38.52| 13.0|
|   Spirit|   Seabourn| 24|             10.0|      2.08|   4.4|  1.04|            48.08|  1.6|
|   Spirit|   Windstar| 25|             5.35|      1.58|   4.4|  0.74|            33.86| 0.88|
+---------+-----------+---+-----------------+----------+------+------+-----------------+-----+

In [42]:
Spark.sql("select* from crew where Ship_name=='Legend' and Cruise_line=='Royal_Caribbean'").show()

+---------+---------------+---+-------+----------+------+------+-----------------+----+
|Ship_name|    Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+---------+---------------+---+-------+----------+------+------+-----------------+----+
|   Legend|Royal_Caribbean| 18|   70.0|      18.0|  8.67|   9.0|            38.89| 7.2|
+---------+---------------+---+-------+----------+------+------+-----------------+----+

In [41]:
Spark.sql("select Cruise_line,count(Cruise_line) from crew group by Cruise_line having count(Cruise_line)>15").show()

+---------------+------------------+
|    Cruise_line|count(Cruise_line)|
+---------------+------------------+
|       Carnival|                22|
|       Princess|                17|
|Royal_Caribbean|                23|
+---------------+------------------+

In [45]:
q1 = Spark.sql("select * from crew").toPandas()

In [89]:
q1.shape

(158, 9)

In [57]:
    Spark.sql("select * from crew where Cruise_line=='Princess' and crew>10 ").show()

+---------+-----------+---+-------+----------+------+------+-----------------+-----+
|Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density| crew|
+---------+-----------+---+-------+----------+------+------+-----------------+-----+
|Caribbean|   Princess|  9|  116.0|      26.0|  9.51|  13.0|            44.62| 11.0|
|    Crown|   Princess|  7|  116.0|      31.0|  9.51| 15.57|            37.42| 12.0|
|  Diamond|   Princess|  9|  113.0|     26.74|  9.51| 13.37|            42.26|12.38|
|  Emerald|   Princess|  6|  113.0|     37.82|  9.51| 15.57|            29.88| 12.0|
|   Golden|   Princess| 12|108.865|     27.58|  9.51|  13.0|            39.47| 11.0|
|    Grand|   Princess| 15|108.806|      26.0|  9.51|  13.0|            41.85| 11.1|
|  Saphire|   Princess|  9|  113.0|     26.74|  9.51| 13.37|            42.26|12.38|
|     Star|   Princess| 11|108.977|     26.02|  9.51| 13.01|            41.88| 12.0|
+---------+-----------+---+-------+----------+------+------+-----------------+-----+

In [58]:
Spark.sql("select max(Age)from crew where Cruise_line=='Princess'").show()

+--------+
|max(Age)|
+--------+
|       9|
+--------+

In [97]:
di = Spark.read.csv(r"C:\Users\tsd95\CSV Files\fastfood.csv",inferSchema=True,header=True)

In [98]:
di.show()

+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
|restaurant|                item|calories|cal_fat|total_fat|sat_fat|trans_fat|cholesterol|sodium|total_carb|fiber|sugar|protein|vit_a|vit_c|calcium|salad|
+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
| Mcdonalds|Artisan Grilled C...|     380|     60|        7|    2.0|      0.0|         95|  1110|        44|    3|   11|     37|    4|   20|     20|Other|
| Mcdonalds|Single Bacon Smok...|     840|    410|       45|   17.0|      1.5|        130|  1580|        62|    2|   18|     46|    6|   20|     20|Other|
| Mcdonalds|Double Bacon Smok...|    1130|    600|       67|   27.0|      3.0|        220|  1920|        63|    3|   18|     70|   10|   20|     50|Other|
| Mcdonalds|Grilled Bacon Smo...|     750|    280|       31|   10.0|      0.5|        155|  1940|        62|    2|   18|     55|    6|   25|     20|Other|
| Mcdonalds|Crispy Bacon Smok...|     920|    410|       45|   12.0|      0.5|        120|  1980|        81|    4|   18|     46|    6|   20|     20|Other|
| Mcdonalds|             Big Mac|     540|    250|       28|   10.0|      1.0|         80|   950|        46|    3|    9|     25|   10|    2|     15|Other|
| Mcdonalds|        Cheeseburger|     300|    100|       12|    5.0|      0.5|         40|   680|        33|    2|    7|     15|   10|    2|     10|Other|
| Mcdonalds|Classic Chicken S...|     510|    210|       24|    4.0|      0.0|         65|  1040|        49|    3|    6|     25|    0|    4|      2|Other|
| Mcdonalds| Double Cheeseburger|     430|    190|       21|   11.0|      1.0|         85|  1040|        35|    2|    7|     25|   20|    4|     15|Other|
| Mcdonalds|Double Quarter Po...|     770|    400|       45|   21.0|      2.5|        175|  1290|        42|    3|   10|     51|   20|    6|     20|Other|
| Mcdonalds|       Filet-O-Fish®|     380|    170|       18|    4.0|      0.0|         40|   640|        38|    2|    5|     15|    2|    0|     15|Other|
| Mcdonalds|Garlic White Ched...|     620|    300|       34|   13.0|      1.5|         95|   790|        48|    3|   11|     32|   10|   10|     35|Other|
| Mcdonalds|Grilled Garlic Wh...|     530|    180|       20|    7.0|      0.0|        125|  1150|        48|    3|   11|     42|   10|   20|     35|Other|
| Mcdonalds|Crispy Garlic Whi...|     700|    300|       34|    9.0|      0.0|         85|  1190|        67|    5|   11|     33|   10|   15|     35|Other|
| Mcdonalds|           Hamburger|     250|     70|        8|    3.0|      0.0|         30|   480|        31|    2|    6|     13|    2|    2|      4|Other|
| Mcdonalds|        Lobster Roll|     290|     50|        5|    1.5|      0.0|         65|   630|        35|    2|    3|     24|    4|    6|     15|Other|
| Mcdonalds|Maple Bacon Dijon...|     640|    330|       36|   14.0|      1.5|        110|  1260|        40|    3|   10|     37|    6|   15|     15|Other|
| Mcdonalds|Grilled Maple Bac...|     580|    190|       21|    8.0|      0.0|        135|  1890|        50|    3|   14|     48|    4|   30|     30|Other|
| Mcdonalds|Crispy Maple Baco...|     740|    310|       35|    9.0|      0.5|         95|  1780|        69|    5|   14|     39|    4|   20|    290|Other|
| Mcdonalds|           McChicken|     350|    130|       15|    3.5|      0.0|         40|   600|        40|    2|    5|     15|    2|    2|      4|Other|
+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
only showing top 20 rows

In [99]:
di.columns

['restaurant',
 'item',
 'calories',
 'cal_fat',
 'total_fat',
 'sat_fat',
 'trans_fat',
 'cholesterol',
 'sodium',
 'total_carb',
 'fiber',
 'sugar',
 'protein',
 'vit_a',
 'vit_c',
 'calcium',
 'salad']

In [101]:
di.select(['restaurant','calories','cal_fat','restaurant','item','calories','cal_fat']).show()

+----------+--------+-------+----------+--------------------+--------+-------+
|restaurant|calories|cal_fat|restaurant|                item|calories|cal_fat|
+----------+--------+-------+----------+--------------------+--------+-------+
| Mcdonalds|     380|     60| Mcdonalds|Artisan Grilled C...|     380|     60|
| Mcdonalds|     840|    410| Mcdonalds|Single Bacon Smok...|     840|    410|
| Mcdonalds|    1130|    600| Mcdonalds|Double Bacon Smok...|    1130|    600|
| Mcdonalds|     750|    280| Mcdonalds|Grilled Bacon Smo...|     750|    280|
| Mcdonalds|     920|    410| Mcdonalds|Crispy Bacon Smok...|     920|    410|
| Mcdonalds|     540|    250| Mcdonalds|             Big Mac|     540|    250|
| Mcdonalds|     300|    100| Mcdonalds|        Cheeseburger|     300|    100|
| Mcdonalds|     510|    210| Mcdonalds|Classic Chicken S...|     510|    210|
| Mcdonalds|     430|    190| Mcdonalds| Double Cheeseburger|     430|    190|
| Mcdonalds|     770|    400| Mcdonalds|Double Quarter Po...|     770|    400|
| Mcdonalds|     380|    170| Mcdonalds|       Filet-O-Fish®|     380|    170|
| Mcdonalds|     620|    300| Mcdonalds|Garlic White Ched...|     620|    300|
| Mcdonalds|     530|    180| Mcdonalds|Grilled Garlic Wh...|     530|    180|
| Mcdonalds|     700|    300| Mcdonalds|Crispy Garlic Whi...|     700|    300|
| Mcdonalds|     250|     70| Mcdonalds|           Hamburger|     250|     70|
| Mcdonalds|     290|     50| Mcdonalds|        Lobster Roll|     290|     50|
| Mcdonalds|     640|    330| Mcdonalds|Maple Bacon Dijon...|     640|    330|
| Mcdonalds|     580|    190| Mcdonalds|Grilled Maple Bac...|     580|    190|
| Mcdonalds|     740|    310| Mcdonalds|Crispy Maple Baco...|     740|    310|
| Mcdonalds|     350|    130| Mcdonalds|           McChicken|     350|    130|
+----------+--------+-------+----------+--------------------+--------+-------+
only showing top 20 rows

In [102]:
di.select('restaurant').distinct().show()

+-----------+
| restaurant|
+-----------+
|     Subway|
|  Taco Bell|
|Chick Fil-A|
|Burger King|
|      Arbys|
|Dairy Queen|
|  Mcdonalds|
|      Sonic|
+-----------+

In [88]:
di.filter("Product_line=='Food and beverages'").show(5)

+-----------+------+---------+-------------+------+------------------+----------+--------+------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice_ID|Branch|     City|Customer_type|Gender|      Product_line|Unit_price|Quantity|Tax_5%|   Total|      Date|               Time|    Payment|  cogs|gross_margin_percentage|gross_income|Rating|
+-----------+------+---------+-------------+------+------------------+----------+--------+------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|692-92-5582|     B| Mandalay|       Member|Female|Food and beverages|     54.84|       3| 8.226| 172.746| 2/20/2019|2023-05-02 13:27:00|Credit card|164.52|            4.761904762|       8.226|   5.9|
|252-56-2699|     A|   Yangon|       Normal|  Male|Food and beverages|     43.19|      10|21.595| 453.495|02-07-2019|2023-05-02 16:48:00|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|329-62-1586|     A|   Yangon|       Normal|  Male|Food and beverages|     54.67|       3|8.2005|172.2105| 1/21/2019|2023-05-02 18:00:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|145-94-9061|     B| Mandalay|       Normal|Female|Food and beverages|     88.36|       5| 22.09|  463.89| 1/25/2019|2023-05-02 19:48:00|       Cash| 441.8|            4.761904762|       22.09|   9.6|
|183-56-6882|     C|Naypyitaw|       Member|Female|Food and beverages|     99.42|       4|19.884| 417.564|02-06-2019|2023-05-02 10:42:00|    Ewallet|397.68|            4.761904762|      19.884|   7.5|
+-----------+------+---------+-------------+------+------------------+----------+--------+------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

In [90]:
di.select('City').distinct().show()

+---------+
|     City|
+---------+
|Naypyitaw|
| Mandalay|
|   Yangon|
+---------+

In [96]:
di.filter(('Product_line=Food and beverages') and ('City=Mandalay')).show()

AnalysisException: Column 'Mandalay' does not exist. Did you mean one of the following? [Gender, Quantity, Total, Branch, City, Date, Payment, Rating, Tax_5%, Time, cogs, Invoice_ID, Product_line, Unit_price, Customer_type, gross_income, gross_margin_percentage]; line 1 pos 5;
'Filter (City#6274 = 'Mandalay)
+- Relation [Invoice_ID#6272,Branch#6273,City#6274,Customer_type#6275,Gender#6276,Product_line#6277,Unit_price#6278,Quantity#6279,Tax_5%#6280,Total#6281,Date#6282,Time#6283,Payment#6284,cogs#6285,gross_margin_percentage#6286,gross_income#6287,Rating#6288] csv