In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [2]:
df = pd.read_csv(r"C:\Users\tsd95\CSV Files\Model\golf_df.csv")
df.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [3]:
df['Play'].value_counts()

yes    9
no     5
Name: Play, dtype: int64

In [4]:
Entropy_S = -9/14*math.log2(9/14)-(5/14)*math.log2(5/14)
Entropy_S

0.9402859586706311

##### For Outlook

In [5]:
df[df['Outlook']=='sunny']

   Outlook Temperature Humidity  Windy Play
0    sunny         hot     high  False   no
1    sunny         hot     high   True   no
7    sunny        mild     high  False   no
8    sunny        cool   normal  False  yes
10   sunny        mild   normal   True  yes

In [6]:
Entropy_Outlook_Sunny = -2/5*math.log2(2/5)-(3/5)*math.log2(3/5)
Entropy_Outlook_Sunny

0.9709505944546686

In [7]:
df[df['Outlook']=='rainy']

   Outlook Temperature Humidity  Windy Play
3    rainy        mild     high  False  yes
4    rainy        cool   normal  False  yes
5    rainy        cool   normal   True   no
9    rainy        mild   normal  False  yes
13   rainy        mild     high   True   no

In [8]:
Entropy_Outlook_Rainy = -3/5*math.log2(3/5)-(2/5)*math.log2(2/5)
Entropy_Outlook_Rainy

0.9709505944546686

In [9]:
df[df['Outlook']=='overcast']

     Outlook Temperature Humidity  Windy Play
2   overcast         hot     high  False  yes
6   overcast        cool   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes

In [10]:
Entropy_Outlook_Overcast = -4/4*math.log2(4/4)-(0/4)*math.log2(0/4)
Entropy_Outlook_Overcast

ValueError: math domain error

In [11]:
Info_Gain_Outlook = Entropy_S - (5/14)*Entropy_Outllok_Rainy - (5/14)*Entropy_Outlook_Sunny - 0
Info_Gain_Outlook

0.24674981977443933

##### For Temperature

In [12]:
df['Temperature'].value_counts()

mild    6
hot     4
cool    4
Name: Temperature, dtype: int64

In [13]:
df[df['Temperature']=='mild']

     Outlook Temperature Humidity  Windy Play
3      rainy        mild     high  False  yes
7      sunny        mild     high  False   no
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
13     rainy        mild     high   True   no

In [14]:
Entropy_Temp_Mild = -4/6*math.log2(4/6)-(2/6)*math.log2(2/6)
Entropy_Temp_Mild

0.9182958340544896

In [15]:
df[df['Temperature']=='hot']

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
12  overcast         hot   normal  False  yes

In [16]:
Entropy_Temp_Hot = -2/4*math.log2(2/4)-(2/4)*math.log2(2/4)
Entropy_Temp_Hot

1.0

In [17]:
df[df['Temperature']=='cool']

    Outlook Temperature Humidity  Windy Play
4     rainy        cool   normal  False  yes
5     rainy        cool   normal   True   no
6  overcast        cool   normal   True  yes
8     sunny        cool   normal  False  yes

In [18]:
Entropy_Temp_Cool = -3/4*math.log2(3/4)-(1/4)*math.log2(1/4)
Entropy_Temp_Cool

0.8112781244591328

In [19]:
Info_Gain_Temp = Entropy_S - (6/14)*Entropy_Temp_Mild - (4/14)*Entropy_Temp_Hot - (4/14)*Entropy_Temp_Cool
Info_Gain_Temp

0.02922256565895487

##### For Humidity

In [20]:
df['Humidity'].value_counts()

high      7
normal    7
Name: Humidity, dtype: int64

In [21]:
df[df['Humidity']=='high']

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
7      sunny        mild     high  False   no
11  overcast        mild     high   True  yes
13     rainy        mild     high   True   no

In [22]:
Entropy_Humidity_High = -3/7*math.log2(3/7)-(4/7)*math.log2(4/7)
Entropy_Humidity_High

0.9852281360342516

In [23]:
df[df['Humidity']=='normal']

     Outlook Temperature Humidity  Windy Play
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
12  overcast         hot   normal  False  yes

In [24]:
Entropy_Humidity_Normal = -6/7*math.log2(6/7)-(1/7)*math.log2(1/7)
Entropy_Humidity_Normal

0.5916727785823275

In [25]:
Info_Gain_Humidity = Entropy_S - (7/14)*Entropy_Humidity_High - (7/14)*Entropy_Humidity_Normal 
Info_Gain_Humidity

0.15183550136234159

#### For Windy

In [26]:
df['Windy'].value_counts()

False    8
True     6
Name: Windy, dtype: int64

In [27]:
df[df['Windy']=='False']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

In [32]:
Entropy_Windy_False = -6/8*math.log2(6/8)-(2/8)*math.log2(2/8)
Entropy_Windy_False

0.8112781244591328

In [28]:
df[df['Windy']=='True']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

In [33]:
Entropy_Windy_True = -3/6*math.log2(3/6)-(3/6)*math.log2(3/6)
Entropy_Windy_True

1.0

In [34]:
Info_Gain_Windy = Entropy_S - (8/14)*Entropy_Windy_False- (6/14)*Entropy_Windy_True
Info_Gain_Windy

0.048127030408269544

### Outlook Feature  giving more informartion than Others, So Select Outlook as a Root Node.

In [47]:
df[(df['Outlook']=='sunny')]

   Outlook Temperature Humidity  Windy Play
0    sunny         hot     high  False   no
1    sunny         hot     high   True   no
7    sunny        mild     high  False   no
8    sunny        cool   normal  False  yes
10   sunny        mild   normal   True  yes

In [42]:
df[(df['Outlook']=='sunny') & (df['Temperature']=='hot')]

  Outlook Temperature Humidity  Windy Play
0   sunny         hot     high  False   no
1   sunny         hot     high   True   no

In [44]:
Entropy_Sunny_Hot = -0/2*math.log2(0/2)-(2/2)*math.log2(2/2)
Entropy_Sunny_Hot

ValueError: math domain error

In [41]:
df[(df['Outlook']=='sunny') & (df['Temperature']=='cool')]

  Outlook Temperature Humidity  Windy Play
8   sunny        cool   normal  False  yes

In [45]:
Entropy_Sunny_Cool = -1/1*math.log2(1/1)-(0/1)*math.log2(0/1)
Entropy_Sunny_Cool

ValueError: math domain error

In [43]:
df[(df['Outlook']=='sunny') & (df['Temperature']=='mild')]

   Outlook Temperature Humidity  Windy Play
7    sunny        mild     high  False   no
10   sunny        mild   normal   True  yes

In [46]:
Entropy_Sunny_Mild = -1/2*math.log2(1/2)-(1/2)*math.log2(1/2)
Entropy_Sunny_Mild

1.0

In [48]:
Info_Gain_Sunny = Entropy_Outlook_Sunny - (2/5)*Entropy_Sunny_Mild 
Info_Gain_Sunny

0.5709505944546686

In [49]:
df[(df['Outlook']=='rainy') & (df['Temperature']=='hot')]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

In [ ]:
Entropy_Rainy_Hot = 0

In [50]:
df[(df['Outlook']=='rainy') & (df['Temperature']=='mild')]

   Outlook Temperature Humidity  Windy Play
3    rainy        mild     high  False  yes
9    rainy        mild   normal  False  yes
13   rainy        mild     high   True   no

In [52]:
Entropy_Rainy_Mild = -2/3*math.log2(2/3)-(1/3)*math.log2(1/3)
Entropy_Rainy_Mild

0.9182958340544896

In [53]:
df[(df['Outlook']=='rainy') & (df['Temperature']=='cool')]

  Outlook Temperature Humidity  Windy Play
4   rainy        cool   normal  False  yes
5   rainy        cool   normal   True   no

In [54]:
Entropy_Rainy_Cool = -1/2*math.log2(1/2)-(1/2)*math.log2(1/2)
Entropy_Rainy_Cool

1.0

In [56]:
Info_Gain_Rainy = Entropy_Outllok_Rainy - (3/5)*Entropy_Rainy_Mild - (2/5)*Entropy_Rainy_Cool
Info_Gain_Rainy

0.01997309402197489

In [57]:
df[(df['Outlook']=='overcast')]

     Outlook Temperature Humidity  Windy Play
2   overcast         hot     high  False  yes
6   overcast        cool   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes

In [59]:
df[(df['Outlook']=='overcast') & (df['Temperature']=='hot')]

     Outlook Temperature Humidity  Windy Play
2   overcast         hot     high  False  yes
12  overcast         hot   normal  False  yes

In [62]:
Entropy_Overcast_hot = -2/2*math.log2(2/2)-(0/2)*math.log2(0/2)
Entropy_Overcast_hot

ValueError: math domain error

In [60]:
df[(df['Outlook']=='overcast') & (df['Temperature']=='mild')]

     Outlook Temperature Humidity  Windy Play
11  overcast        mild     high   True  yes

In [63]:
Entropy_Overcast_mild = -1/1*math.log2(1/1)-(0/1)*math.log2(0/1)
Entropy_Overcast_mild

ValueError: math domain error

In [61]:
df[(df['Outlook']=='overcast') & (df['Temperature']=='cool')]

    Outlook Temperature Humidity  Windy Play
6  overcast        cool   normal   True  yes

In [64]:
Entropy_Overcast_Cool = -1/1*math.log2(1/1)-(0/1)*math.log2(0/1)
Entropy_Overcast_Cool

ValueError: math domain error

#### OverCast Can be Selected

In [66]:
df[(df['Outlook']=='sunny') & (df['Humidity']=='high')]

  Outlook Temperature Humidity  Windy Play
0   sunny         hot     high  False   no
1   sunny         hot     high   True   no
7   sunny        mild     high  False   no

In [68]:
Entropy_Sunny_Temp_High = -0/3*math.log2(0/3)-(3/3)*math.log2(3/3)
Entropy_Sunny_Temp_High

ValueError: math domain error

In [67]:
df[(df['Outlook']=='sunny') & (df['Humidity']=='normal')]

   Outlook Temperature Humidity  Windy Play
8    sunny        cool   normal  False  yes
10   sunny        mild   normal   True  yes

In [69]:
Entropy_Sunny_Temp_Normal = -2/2*math.log2(2/2)-(0/2)*math.log2(0/2)
Entropy_Sunny_Temp_Normal

ValueError: math domain error

In [72]:
Info_Gain_Sunny_Temp = Entropy_Outlook_Sunny -0 - 0
Info_Gain_Sunny_Temp

0.9709505944546686

In [73]:
df[(df['Outlook']=='rainy') & (df['Humidity']=='high')]

   Outlook Temperature Humidity  Windy Play
3    rainy        mild     high  False  yes
13   rainy        mild     high   True   no

In [76]:
Entropy_Rainy_Temp_High = -1/2*math.log2(1/2)-(1/2)*math.log2(1/2)
Entropy_Rainy_Temp_High

1.0

In [75]:
df[(df['Outlook']=='rainy') & (df['Humidity']=='normal')]

  Outlook Temperature Humidity  Windy Play
4   rainy        cool   normal  False  yes
5   rainy        cool   normal   True   no
9   rainy        mild   normal  False  yes

In [77]:
Entropy_Rainy_Temp_Normal = -2/3*math.log2(2/3)-(1/3)*math.log2(1/3)
Entropy_Rainy_Temp_Normal

0.9182958340544896

In [79]:
Info_Gain_Rainy_Temp = Entropy_Outllok_Rainy - (2/5)*Entropy_Rainy_Temp_High - (3/5)*Entropy_Rainy_Temp_Normal 
Info_Gain_Rainy_Temp

0.01997309402197489

In [84]:
df[(df['Outlook']=='rainy') & (df['Humidity']=='False')]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

In [82]:
df[(df['Outlook']=='sunny') & (df['Humidity']=='True')]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

In [80]:
df

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no